
<%= form_with(model: productpdf, local: true) do |form| %>
  <% if productpdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(productpdf.errors.count, "error") %> prohibited this productpdf from being saved:</h2>

      <ul>
      <% productpdf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= form.file_field :file %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :productpdf_title %>
  </div>

  <div class="field" style="display:none;">
  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status, id: :productpdf_status %>
  </div>
  </div>

  <div class="field" style="display:none;">
    <%= form.label :productid %>
    <%= form.text_field :productid, id: :productpdf_productid ,value:  @id %>
  </div>

  <div class="field">
    <%= form.label :topics %>
     <%= form.select(:topics, options_for_select([
                    ['Specification', 'specification'], 
                    ['Brochure', 'brochure'], 
                    ['Manual guide', 'manual_guide']
                    ]), :class => "form-control ")%>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
