<%= form_with(model: productpdf, local: true) do |form| %>
  <% if productpdf.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(productpdf.errors.count, "error") %> prohibited this productpdf from being saved:</h2>

      <ul>
      <% productpdf.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="field">
    <%= form.file_field :file %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
