
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<html>
<head data-hook="inside_head">

  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Bootstrap CSS -->
  <meta name="description" content="My custom spree store">
  <title><%= content_for?(:title) ? yield(:title) : "My title" %></title>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <%= stylesheet_link_tag "index" %>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Avenir">

  <style>
  body{
    font-family: 'Avenir', serif !important;
  }
  </style>

</head>

<body>
  <%= render partial: 'header/header' %>
  <% if spree_current_user %>




  <div class="bg_details_products">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="bg_white1">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-12">
                <div class="text-center i_txt_title">MY ORDER <hr></div>
              </div>


            </div>
            <div class="row">
              <div class="col-12  col-sm-12 col-md-3 col-lg-3 col-xl-3 ">

                <ul class="account_menu_left" style="list-style-type: none;">
                  <li class="border-bottom ">
                    <div class="d-inline text_body text_bold  "><%= Spree::Address.where(:id => spree_current_user.id).first.firstname   %> <%= Spree::Address.where(:id => spree_current_user.id).first.lastname   %></div>
                  </li>
                  <li class=" border-bottom ">
                    <a href="/companyptofile" class="">
                      <div class="d-inline ml-2">
                       <%= image_tag("my_account.png", :alt => "logo", :class => "img-fluid") %>

                     </div>
                     <div class="d-inline text_body pl-sm-2 pl-xl-3 ">My Account</div>
                   </a>
                 </li>
                 <li class="border-bottom">
                  <a href="/wishlist" class="">
                    <div class="d-inline ml-2">
                      <%= image_tag("my_wishlist.png", :alt => "logo", :class => "img-fluid") %>

                    </div>
                    <div class="d-inline text_body pl-sm-2 pl-xl-3 ">My Wishlist</div>
                  </a>
                </li>

                <li class="border-bottom">
                  <a href="/certificate" class="">
                    <div class="d-inline ml-2">
                      <%= image_tag("my_order.png", :alt => "logo", :class => "img-fluid") %>
                      
                    </div>
                    <div class="d-inline text_body pl-sm-2 pl-xl-3 text_orange">My Order</div>
                  </a>
                </li>
              </ul>
            </div>





            <div class="col-12  col-sm-12 col-md-9 col-lg-9 col-xl-9">



             <div id="profile_my_order">
               <table class="table w-100 table_border_bottom">
                <thead>
                  <tr>

                    <th scope="col">Order No.</th>
                    <th scope="col">Price</th>
                    <th scope="col">Status</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                 <% Spree::Order.where(:email => spree_current_user.email).each do |order| %>
                 <tr >

                   <td class="text_body"><%= order.number%></td>
                   <td class="text_body"><%= order.display_total %></td>
                   <td class="text_body"><%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %></td>
                   <td class="text_body">

                    <button type="button" class="btn  btn-md i_button i_button  p-1  orange_bg " data-toggle="modal"  data-status="<%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %>" style="display:none;">

                     <button type="button" class="btn  btn-md i_button i_button  p-1  orange_bg " data-toggle="modal" data-target="#modalCart2" data-id="<%= order.number%>"  data-status="<%= Spree.t("shipment_states.#{order.shipment_state}").titleize if order.shipment_state %>">

                      <div class="ml-lg-3 mr-lg-3 ml-md-0 mr-md-0">

                       <div class="align-middle d-inline  text_small ">VIEW DETAILS</div>
                     </div>
                   </button></a>



                   <td class="text_body">



                     <button type="button" class="btn  btn-md i_button i_button  p-1  orange_bg2 " data-toggle="modal" data-target="#modalCart3" data-id-slip="<%= order.number%>" >

                      <div class="ml-lg-3 mr-lg-3 ml-md-0 mr-md-0">

                        <div class="align-middle d-inline  text_small ">Upload Slip</div>
                      </div>
                    </button></a>



                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
</div>
<br>
<%= link_to Spree.t(:logout), spree.logout_path %>
</div>

<% else %>
<% end %>



<div class="modal fade" id="modalCart3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header product_modal_header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body product_modal_body">



        <div class="bg_details_products">
          <div class="container">
            <div class="row">
              <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div class="bg_white1">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div class="text-center i_txt_title">Upload your slip<hr></div>
                    </div>


                  </div>
                  <div class="row">



                    <div class="col-12  col-sm-12 col-md-12 col-lg-12 col-xl-12">

 


                    </div>
                  </div>
                </div>
              </div>
               </div>
                  </div>
                </div>
              </div>
               </div>
                  </div>
                </div>
              </div>





              <div class="modal fade" id="modalCart2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header product_modal_header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body product_modal_body">




                      <div class="bg_details_products">
                        <div class="container">
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                              <div class="bg_white1">
                                <div class="row">
                                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="text-center i_txt_title">ORDER DETAILS<hr></div>
                                  </div>


                                </div>
                                <div class="row">



                                  <div class="col-12  col-sm-12 col-md-12 col-lg-12 col-xl-12">

                                    <div id="order_details" class="row">

                                      <div class="col-12  col-sm-12 col-md-12 col-lg-12 col-xl-12">

                                        <%= image_tag("profile/order_status_1.png", :alt => "logo", :id => "order" ,:class => "img-fluid") %>
                                        <%= image_tag("profile/order_status_2.png", :alt => "logo", :id => "process", :class => "img-fluid") %>
                                        <%= image_tag("profile/order_status_3.png", :alt => "logo", :id => "shipped", :class => "img-fluid") %>
                                        <%= image_tag("profile/order_status_4.png", :alt => "logo", :id => "delivered", :class => "img-fluid") %>
                                        <div class="text-center mt-4">
                                          <button class="btn btn-outline-orange btn-lg i_button text_bold bg_transparent">
                                            <div class="ml-lg-3 mr-lg-3 ml-md-0 mr-md-0" id="ref-invoice">
                                              <a  target="_blank">
                                                <div class="d-inline  text_body pl-lg-2 pr-lg-2">DOWNLOAD TAX INVOICE</div>
                                              </a>
                                            </div>
                                          </button> 
                                        </div>
                                        <div>
                                          <div class="mt-4 text_title text_bold mb-3">Order Information</div>
                                          <table class="w-100">
                                            <tr>
                                              <td class="w-50">
                                                <div class="text_body">Order No.</div>
                                              </td>
                                              <td class="w-50">
                                                <div class="text_body"> <input type="text" name="bookId" id="bookId" value=""/></div>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                <div class="text_body">Date</div>
                                              </td>
                                              <td> 
                                                <div class="text_body"><%= DateTime.now.to_date %></div>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                <div class="text_body">Status</div>
                                              </td>
                                              <td>
                                                <div class="text_body"><input type="text" name="bookstatus" id="bookstatus" value=""/></div>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>
                                                <div class="text_body">Payment</div>
                                              </td>
                                              <td>
                                                <div class="text_body">Omise Credit Transaction</div>
                                              </td>
                                            </tr>
                                          </table>
                                          <div class="border_bottom_100 mt-4"></div>
                                          <div class="text_title text_bold mb-4 mt-3">Shipping Address</div>

                                          <div class="text_body mb-4"><%= Spree::Address.where(:id => spree_current_user.id).first.firstname   %> <%= Spree::Address.where(:id => spree_current_user.id).first.lastname   %></div>

                                          <div class="text_body"><%= Spree::Address.where(:id => spree_current_user.id).first.address1   %> </div>


                                          <div class="text_body ">Phone: <%= Spree::Address.where(:id => spree_current_user.id).first.phone   %> </div>

                                        </div>
                                      </div>











                                    </div>



                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>

                        </div>








                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <script type="text/javascript">

            $(document).on("click", ".orange_bg2", function () {



            });


            $(document).on("click", ".orange_bg", function () {
             var myBookId = $(this).data('id');
             var myBookstatus = $(this).data('status');
             $(".modal-body #bookId").val( myBookId );
             $(".modal-body #bookstatus").val( myBookstatus );
             $("#ref-invoice a").attr("href","/admin/orders/"+myBookId+".pdf?template=invoice");


             if (myBookstatus === "Pending") {
              $("#order").hide();
              $("#process").show();
              $("#shipped").hide();
              $("#delivered").hide();
            }
            else if (myBookstatus === "Ready") {
              $("#order").hide();
              $("#process").hide();
              $("#shipped").show();
              $("#delivered").hide();
            }
            else if (myBookstatus === "Shipped") {
              $("#order").hide();
              $("#process").hide();
              $("#shipped").hide();
              $("#delivered").show();
            }
            else
            {
             $("#order").show();
             $("#process").hide();
             $("#shipped").hide();
             $("#delivered").hide();
           }

         });
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>


<%= javascript_include_tag "index", "data-turbolinks-track" => true  %>
</body>
</html>