


<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
<tr>
  <td class="cart_c_1 cart-item-image" data-hook="cart_item_image">
    <% if variant.images.length == 0 %>
    <%= link_to image_tag(variant.product.display_image.attachment(:small)), variant.product %>
    <% else %>
    <%= link_to image_tag(variant.images.first.attachment.url(:small)), variant.product %>
    <% end %>
  </td>
  <td class="cart_c_2"> 
    <ul class="cart_ul_product">
      <li>
        <div class="cart_title_text cart_title_text_p_b"><%= link_to line_item.name, product_path(variant.product) %></div>
      </li>
      <li>
        <div class="cart_title_text_in_stock cart_title_text_in_stock_padding text_orange">
          <%= image_tag("true.png", :alt => "logo", :class => "d-inline cart_img_true mr-2") %> 
          In Stock</div>
      </li>
      <li>
        <div class="cart_title_text_move_w">
           <%= image_tag("heart.png", :alt => "logo", :class => "d-inline cart_img_true mr-2") %>
          <img class="d-inline cart_img_true mr-2"  src="assets/images/heart.png">
            MOVE TO WISHLIST </div>
      </li>
    </ul>
  </td>
  <td class="cart_c_3 ">
    <div class="cart_txt_price">฿ <%= line_item.price %></div>
  </td>
  <td class="cart_c_4"> 
    <ul class="pagination pagination-md ">
           <%= item_form.number_field :quantity, min: 0, class: "line_item_quantity", size: 5 %>
      </ul>
    </td>
    <td class="cart_c_5">
       <%= link_to image_tag("close.png", :alt => "logo", :class => "id-inline cart_img_true mr-2" , id: "delete_#{dom_id(line_item)}") %>
    </td>
  </tr>
  <% end -%>

