<fieldset id="order_summary" data-hook>
  <legend><%= Spree.t(:order_number, number: @order.number) %></legend>
  <h1><%= accurate_title %></h1>
  <% if order_just_completed?(@order) %>
    <strong><%= Spree.t(:thank_you_for_your_order) %></strong>
  <% end %>
  <div id="order" data-hook>
    <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>

    <br class="clear" />

    <p data-hook="links">
       <%= button_tag 'กลับสู่หน้าแรก',
      class: "continue btn btn-white products_button btn-md products_bu_details orange_bg text_body" %>

     
      <% unless order_just_completed?(@order) %>
        <% if try_spree_current_user && respond_to?(:account_path) %>
          <%= link_to Spree.t(:my_account), spree.account_path, class: "button" %>
        <% end %>
      <% end %>
    </p>
  </div>
</fieldset>
