<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<html>
<head data-hook="inside_head">

  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Bootstrap CSS -->
  <meta name="description" content="My custom spree store">
  <title><%= content_for?(:title) ? yield(:title) : "My title" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

 
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Avenir' %>

  <style>

@font-face {
        font-family: 'Avenir';

      
        }
  body{
     
}
    .m0
    {
    	font-size: 0.5em;
    }
  }
  </style>
  <%= stylesheet_link_tag "index" %>
</head>
<body>
	  <%= render partial: 'header/header' %>
<div id="sidebar">
<div id="outline">
</div>
</div>
<div id="page-container">
	<div class="container" style="width: 50%; padding-top: 2em;">
 <div class="row ">
  <br>
  <br>

 <div class="check_text_title">TERM AND CONDITION</div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
          <div class="text_indent1 text_body">กรุณาอ่านและทําความเข้าใจนโยบายความเป็นส่วนตัว ก่อนลงทะเบียนสมัครเป็นสมาชิกเพื่อเข้าใช้ บริการเว็บไซต์เพื่อผลประโยชน์สูงสุดของท่าน ทางบริษัท แลมป์ตั้น ไลท์ติ้ง (2001) จํากัด ("บริษัทฯ") ตระหนักถึงความสําคัญของข้อมูลส่วนตัวของท่าน บริษัทฯขอสัญญาว่าจะเก็บข้อมูลของ ท่านเป็นความลับอย่างดีที่สุด 
          </div>
          <div class="text_indent1 text_body mt-3">
          1. การใช้ข้อมูล ข้อมูลที่ท่านเปิดเผยกับ Lamptan.co.th ไม่ว่าจะเป็นชื่อ ที่อยู่ E-mail Address ข้อมูลเกี่ยวกับการ ซื้อสินค้า หรือการชําระเงิน อาจถูกนําไปใช้ในการปรับปรุง และส่งเสริมการให้บริการ การตลาด การ พัฒนาบริการของเว็บไซต์นี้ เพื่อความพึงพอใจและประโยชน์สูงสุดของท่าน นอกจากนี้แล้ว Lamptan.co.th ขอสงวนสิทธิที่จะนําข้อมูลของท่านมาใช้ในการวิเคราะห์ข้อมูลได้ตลอดเวลา 
          </div>
          <div class="text_indent1 text_body mt-3">
          2. ความปลอดภัยของข้อมูล ข้อมูลส่วนบุคคลที่ท่านได้ให้หรือใช้ผ่านการประมวลผลของเครื่องคอมพิวเตอร์ที่ควบคุมการทํางาน ของเว็บไซต์ Lamptan.co.th ทั้งหมดนั้น ท่านได้ยอมรับและตกลงว่าเป็นสิทธิและกรรมสิทธิ์ของ Lamptan.co.thอย่างไรก็ตาม Lamptan.co.th รับประกันว่าข้อมูลส่วนตัวของท่านจะได้รับการรักษา อย่างเป็นความลับและได้ใช้มาตรฐานความปลอดภัย อย่างไรก็ตาม เพื่อความปลอดภัยของข้อมูล ท่านควรปฏิบัติตามข้อกําหนดและเงื่อนไขการให้บริการของเว็บไซต์นี้โดยเคร่งครัด สําหรับผู้ใช้ทั่วไป การเข้าสู่ข้อมูลของตนเองจําเป็นต้องใช้ชื่อผู้ใช้ที่เป็นสมาชิก และรหัสผ่านที่ทาง Lamptan.co.th ออกให้เท่านั้น ในกรณีที่ข้อมูลส่วนบุคคลดังกล่าวถูกจารกรรมโดยวิธีการทางอิเล็กทรอนิกส์(Hack) สูญหายหรือเสียหายอันเนื่องจากเหตุสุดวิสัยไม่ว่ากรณีใดทั้งสิ้น ทางบริษัทฯ โดย Lamptan.co.th ในนามบริษัท แลมป์ตั้น ไลท์ติ้ง (2001) จํากัด ขอสงวนสิทธิ์ในการปฏิเสธความรับผิดชอบต่อความ เสียหายนั้นทั้งหมด สําหรับการรับส่งข้อมูลและการรับชําระเงินด้วยบัตรเครดิตทางอินเตอร์เน็ตได้ เชื่อมต่อกับธนาคารผ่านระบบที่มีการรักษาความปลอดภัยขั้นสูงตามมาตรฐานสากล ทั้งนี้ข้อมูลบัตร เครดิตของท่านถูกจัดเก็บไว้ที่ธนาคารเพียงแห่งเดียวเท่านั้น โดยไม่มีการเก็บข้อมูลไว้ที่ฐานข้อมูล ของ Lamptan.co.th แต่อย่างใด 
          </div>
          <div class="text_indent1 text_body mt-3">3. การแก้ไข เปลี่ยนแปลง และลบข้อมูล ท่านสามารถแก้ไข ปรับปรุง เปลี่ยนแปลง ข้อมูลต่างๆ ในข้อมูลส่วนตัวของท่านได้ด้วยตนเอง โดย ใช้ชื่อผู้ใช้ที่เป็นสมาชิกและรหัสผ่านที่ทาง Lamptan.co.th ออกให้ท่านในการผ่านเข้าสู่ข้อมูลส่วนตัวของท่าน ท่านคือผู้เดียวที่สามารถเข้าถึงข้อมูลส่วนตัวของท่านได้ และท่านคือผู้เดียวที่จะเปลี่ยนแปลง แก้ไข เพิ่มเติม หรือลบข้อมูลเหล่านั้นได้ โดยใช้ชื่อผู้ใช้ที่เป็นสมาชิกและรหัสผ่านของท่านเอง Lamptan.co.th ขอแนะนําให้ท่านเก็บข้อมูลชื่อผู้ใช้ที่เป็นสมาชิกและรหัสผ่านไว้เป็นความ ลับ Lamptan.co.th จะไม่มีการถามรหัสผ่านของท่านไม่ว่ากรณีใดๆทั้งสิ้น และในกรณีที่ท่านใช้ คอมพิวเตอร์ร่วมกับผู้อื่น กรุณา sign – out ก่อนทุกครั้งเมื่อท่านไม่ต้องการใช้บริการต่อไปหรือปิด บราวเซอร์เมื่อท่านเสร็จสิ้นการทํางาน เพื่อเป็นการป้องกันมิให้ผู้อื่นเข้ามาใช้ข้อมูลของท่านซึ่งอาจจะ ทําให้ท่านได้รับความเสียหายในภายหลัง ทั้งนี้ ท่านจะต้องรับผิดชอบกับการกระทําต่างๆ ภายใต้ชื่อผู้ ใช้ที่เป็นสมาชิกและรหัสผ่านของท่าน ทาง Lamptan.co.th จะไม่รับผิดชอบหากท่านนําผู้ใช้ที่เป็น สมาชิกและรหัสผ่านของท่านไปให้ผู้อื่น </div>
          <div class="text_indent1 text_body mt-3">4. การเปิดเผยข้อมูลแก่บุคคลที่สาม Lamptan.co.th เคารพสิทธิในความเป็นส่วนตัวของท่าน ดังนั้น ข้อมูลของท่านที่ Lamptan.co.th ได้รับนั้นโดยหลักการแล้วจะถูกนําไปใช้ให้เป็นไปตามวัตถุประสงค์ของเว็ปไซด์นี้เท่านั้น จะไม่มีการ อนุญาตให้มีการเปิดเผยข้อมูลของท่านนอกจากพนักงานผู้ที่ได้รับอนุญาตเท่านั้น และเว้นแต่:</div> 
          <div class="text_indent2 text_body mt-2">
            <p class="mb-0 mt-2">1. ได้รับความยินยอมจากท่าน</p> 
            <p class="mb-0">2. เป็นการจําเป็นที่ต้องเปิดเผยข้อมูลตามกฎหมาย เพื่อประโยชน์ในการสอบสวนหรือการพิจารณา คดี </p>
            <p class="mb-0">3. การเปิดเผยข้อมูลเป็นไปโดยถูกต้องตามกฎหมายหรือตามคําสั่งของหน่วยงานของรัฐที่เกี่ยวข้อง ข้อกำหนดและเงื่อนไขในการให้บริการ </p>
          </div>
          <div class="text_indent3 text_body mt-3">
            1. บทนํา ยินดีต้อนรับท่านสู่เว็บไซต์ Lamptan.co.th ทางบริษัท แลมป์ตั้น ไลท์ติ้ง (2001) จํากัด ได้จัดทํา เว็บไซต์นี้ขึ้นเพื่อวัตถุประสงค์ในการสั่งซื้อสินค้าและบริการออนไลน์ของท่านผู้มีอุปการะคุณ/ผู้ใช้ บริการ ฉะนั้น ขอความกรุณาท่านโปรดอ่านและปฏิบัติตามข้อกําหนดและเงื่อนไขการใช้งานใน เว็บไซต์นี้เพื่อประโยชน์ของตัวท่านเอง การดําเนินการใดๆ ในเว็บไซต์นี้ถือว่าท่านยอมรับข้อผูกพันทา งกฏหมายที่ระบุทุกประการ ทั้งนี้ บริษัทฯ สงวนสิทธิในการเปลี่ยนแปลงข้อกําหนดและเงื่อนไขต่างๆ โดยไม่ต้องแจ้งให้ทราบล่วงหน้า 
          </div>
          <div class="text_indent3 text_body mt-3">
            2. ลิขสิทธิ์ตามกฎหมาย (Copy Right) และข้อจํากัดในการใช้เว็บไซต์นี้ Lamptan.co.th ขอแจ้งให้ท่านทราบว่าข้อความ ภาพ เสียง เนื้อหา เครื่องหมายการค้า เครื่องหมายบริการ ชื่อทางการค้า วิธีการนําเสนอ ข้อมูล ข่าวสาร และส่วนประกอบใดๆ ที่ปรากฏ บนเว็บไซต์นี้ ทั้งหมดเป็นสิทธิของ Lamptan.co.th โดยชอบด้วยกฎหมายแต่เพียงผู้เดียว และได้รับ ความคุ้มครองตามกฎหมายทรัพย์สินทางปัญญาของประเทศไทย หากบุคคลใดลอกเลียน ปลอม แปลง ทําซํ้า ดัดแปลง เผยแพร่ต่อสาธารณชน จําหน่าย มีไว้ให้เช่าหรือกระทําการใดๆ ในลักษณะที่ เป็นการแสวงหาประโยชน์ทางการค้าหรือประโยชน์อันมิชอบจากทรัพย์สินทางปัญญาดังกล่าวข้างต้น โดยมิได้รับอนุญาตเป็นลายลักษณ์อักษรจาก Lamptan.co.th หรือเจ้าของเครื่องหมายการค้าไม่ว่า กรณีใดๆ Lamptan.co.th ในนามบริษัท แลมป์ตั้น ไลท์ติ้ง (2001) จํากัด จะดําเนินการตามกฎหมาย กับผู้ละเมิดสิทธิดังกล่าวจนถึงที่สุด และสิทธิในการใช้งานเว็บไซต์นี้จะสิ้นสุดลงโดยทันที หากท่าน ละเมิดเงื่อนไขข้อตกลงการใช้งานเว็บไซต์นี้ 
          </div>
          <div class="text_indent3 text_body mt-3">
            3. การเชื่อมโยงกับเว็บไซต์อื่น เว็บไซต์ของ Lamptan.co.th มีการเชื่อมโยงกับเว็บไซต์อื่นที่ไม่ได้อยู่ภายใต้การดูแลของบริษัทฯ เพื่อวัตถุประสงค์ในการให้ความสะดวกด้านข้อมูลแก่ท่าน Lamptan.co.th มิได้ให้การรับรองหรือ ยืนยันความถูกต้องในเนื้อหาของเว็บไซต์ที่เชื่อมโยงดังกล่าว และท่านผู้ใช้บริการยอมรับว่า Lamptan.co.th ไม่ต้องรับผิดชอบต่อเนื้อหา โฆษณา สินค้าและบริการบนเว็บไซต์เหล่านั้น ซึ่งอาจ เกิดความเสียหายใดๆ ที่เกิดขึ้นจากการเข้าเยี่ยมชมหรือใช้บริการจากเว็บไซต์ที่เชื่อมโยงอื่นๆ ดัง กล่าว 
          </div>
          <div class="text_indent3 text_body mt-3">
            4. คําบรรยายผลิตภัณฑ์และสีของรูปภาพ เว็บไซต์ Lamptan.co.th ได้แสดงคําอธิบายผลิตภัณฑ์เพื่อเป็นส่วนหนึ่งประกอบในการพิจารณา เลือกซื้อสินค้าและบริการ ซึ่งไม่สามารถยืนยันได้ว่าจะปราศจากข้อผิดพลาดทั้งมวล ดังนั้น หากท่าน ไม่แน่ใจ หรือต้องการข้อมูลเพิ่มเติม ขอให้สอบถามข้อมูลที่ LAMPTAN Customer Service โทร 02-4512968-9 ทุกวัน เวลา 08.00-17.00น. ก่อนตัดสินใจสั่งซื้อสินค้าและบริการใด ๆ เช่นเดียวกัน นี้ ทางเว็บไซต์ Lamptan.co.th มีความตั้งใจที่จะแสดงรูปภาพสินค้าที่มีสีที่ถูกต้อง ตรงตามความ เป็นจริง แต่สีที่แสดงบนหน้าจอของท่านอาจผิดเพี้ยนได้ตามการตั้งค่าของหน้าจอคอมพิวเตอร์ที่แตก ต่างกันไป 
          </div>
          <div class="text_indent3 text_body mt-3">
            5. การสมัครและการเป็นสมาชิกภาพ 
          </div>
          <div class="text_indent4 text_body mt-2">
            5.1 เว็บไซต์ Lamptan.co.th นี้ให้เฉพาะผู้ใช้บริการที่ลงทะเบียนสมัครเป็นสมาชิก เท่านั้น ที่ สามารถสั่งซื้อสินค้าหรือร่วมทํากิจกรรมส่งเสริมการขายต่างๆ ที่จัดขึ้นบนเว็บไซต์ได้ 
          </div>
          <div class="text_indent4 text_body mt-2">
            5.2 การลงทะเบียนสมัครเป็นสมาชิกกับเว็บไซต์ Lamptan.co.th ผู้ลงทะเบียนต้องให้ข้อมูลส่วนบุคคลที่ถูกต้อง สมบูรณ์ และทันสมัยที่สุด กรณีมีการเปลี่ยนแปลงต้อง ปรับปรุงข้อมูลให้เป็นปัจจุบันอยู่เสมอ
          </div>
          <div class="text_indent4 text_body mt-2">
            5.3 การสมัครสมาชิกและส่ังซ้ือสินค้ากับทาง Lamptan ท่านต้องมีอายุต้ังแต่ 18 ปีบริบูรณ์ข้ึนไป 5.4 Lamptan.co.th ผู้ใช้งานแต่ละท่านได้รับอนุญาตให้มีบัญชีผู้ใช้งานได้เพียงบัญชีเดียวเท่าน้ัน การละเมิดเงื่อนไขอาจส่งผลให้เกิดการระงับบัญชีผู้ใช้งาน สิทธิการรับโปรโมช่ัน หรือผลประโยชน์อื่นใดและอาจถูกดําเนินคดีตามกฎหมายหรือมีโทษปรับตามกฎหมายอาญา 

          </div>
          <div class="text_indent3 text_body mt-3">
            6. เงื่อนไขการขายและสั่งซื้อ การสั่งซื้อสินค้าและบริการ จะถือว่าสมบูรณ์เมื่อท่านได้ชําระเงินค่าสินค้าและบริการตามที่แจ้งไว้เรียบร้อยแล้ว และรับทราบยอมรับมาตรฐานตามที่กําหนดไว้แล้ว ทั้งนี้ ในส่วนราคาและโปรโมชั่น ใดๆ (รายการส่งเสริมการขาย) ที่นําเสนอขายจะใช้ได้เฉพาะการซื้อสินค้าผ่านเว็บไซต์ Lamptan.co.th นี้เท่านั้น ไม่สามารถนําไปใช้กับการซื้อสินค้าที่สาขาของบริษัทฯ ได้ 
          </div>
          <div class="text_indent4 text_body mt-2">
            6.1การขายและสั่งซื้อสินค้า จะดําเนินการจัดส่งสินค้าให้แก่ท่าน (*ตามเงื่อนไขการจัดส่ง) - เมื่อท่านได้รับสินค้าแล้ว กรุณาตรวจสอบสินค้าให้เรียบร้อยก่อนลงนามรับสินค้าในใบส่งสินค้า กรณีพบปัญหาโปรดแจ้งผ่าน Customer Service ทันทีก่อนรับสินค้า - ราคาที่ระบุในเว็ปไซต์ Lamptan.co.th เป็นราคาสินค้าที่ไม่ได้รวมค่าบริการติดตั้ง กรณีที่ท่าน ประสงค์จะใช้บริการติดตั้งสินค้า สามารถสอบถามเพิ่มเติมผ่านเพิ่มเติมผ่านCustomer Service 

          </div>
          <div class="text_indent3 text_body mt-3">
            7. เงื่อนไขการจัดส่งสินค้า 
          </div>
          <div class="text_indent4 text_body mt-2">
            7.1 บริการจัดส่งสินค้า 
          </div>
          <div class="text_indent5 text_body mt-2">
            - บริษัทจะทําการจัดส่งสินค้าเม่ือได้รับหลักฐานการยืนยันการชําระเงินจากลูกค้า - การจัดส่งสินค้าจะดําเนินการตามหมายเลขส่ังซ้ือสินค้า สินค้าท่ีสั่งซื้อในหมายเลขสั่งซื้อสินค้า เดียวกัน อาจได้รับการจัดส่งแยกกัน ข้ึนอยู่กับประเภทของสินค้านั้นๆ ตามความเหมาะสม 
          </div>
          <div class="text_indent5 text_body mt-2">
            - ขอสงวนสิทธิ์ ไม่จัดส่งสินค้าไปยังตู้ ปณ. แต่จะจัดส่งให้ตามที่อยู่ที่ระบุอย่างชัดเจนเท่านั้น - ระยะเวลาการจัดส่งสินค้าอาจมีการเปลี่ยนแปลงได้ ในกรณีที่สินค้าบางชนิดอาจจะต้องเป็น By-Order หรือไม่มีในคลังสินค้า  
          </div>
          <div class="text_indent5 text_body mt-2">
            - ในกรณีที่ยังไม่ได้รับสินค้า ภายใน 7 วันหลังจากทางบริษัทฯ ยืนยันการขนส่งสินค้าแล้ว กรุณาโทรแจ้งทาง LAMPTAN Call Center ทันที - การตรวจรับสินค้า กรุณาตรวจเช็คสินค้าทันทีเมื่อคุณได้รับสินค้า เพื่อประโยชน์สูงสุดของตัว คุณเอง หากเกิดข้อผิดพลาดโปรดแจ้งกลับที่ Customer Service โทร02-4512968-9 ทันที 
          </div>
          <div class="text_indent4 text_body mt-2">
            7.2 ทาง Lamptan มีบริการจัดส่งสินค้าภายในราชอาณาจักรไทยตามท่ีอยู่ที่ได้ลงทะเบียนไว้เท่านั้น โดยมีบริการจัดส่งสินค้า หรือ จัดส่งพร้อมติดตั้ง โดยขึ้นอยู่กับแต่ละสินค้าซึ่งจะปรากฏในขณะที่ท่านกําลังทํารายการสั่งซื้อ 
          </div>
          <div class="text_indent4 text_body mt-2">
            7.3 ค่าบริการจัดส่งสินค้า จะมีการคิดค่าสั่งในกรณีที่ส่งสินค้าไม่เกิน 500บาท หรือจัดส่งแบบEMS หมายเหตุ: - ระยะเวลาการจัดส่งสินค้าอยู่ระหว่างเวลา 9.00 – 18.00 น. - ขอสงวนสิทธ์ในการเปลี่ยนแปลงโดยไม่ได้ต้องแจ้งให้ทราบล่วงหน้า 
          </div>
          <div class="text_indent3 text_body mt-3">
            8. การยกเลิกอันเกิดจากความผิดพลาด 
          </div>
          <div class="text_indent4 text_body mt-2">
            8.1 กรณีเกิดความผิดพลาดใดๆ อันเป็นผลให้การสั่งซื้อสินค้าและบริการมีข้อมูลเปลี่ยนแปลงไป จากครั้งแรก เช่น รายละเอียดสินค้าไม่ครบถ้วน ถูกต้อง เป็นต้น เว็บไซต์ Lamptan.co.th มีสิทธิ อย่างเต็มที่ที่จะยกเลิกคําสั่งซื้อได้ทุกเวลา และหากเว็บไซต์ Lamptan.co.th ได้รับการชําระเงินค่า สินค้าแล้ว เว็บไซต์ Lamptan.co.th จะทําการคืนเงินให้ผู้ใช้บริการเต็มตามจํานวนที่ได้ชําระไว้ ภายใน 7-15 วันนับจากวันที่ได้ทําการยกเลิกรายการ
          </div>
          <div class="text_indent4 text_body mt-2">
            8.2 กรณีที่มีเนื้อหาหรือข้อมูลในรายส่งเสริมการขายที่ใช้เฉพาะช่วงเวลาที่กําหนด ขัดแย้งกันกับข้อ ตกลงและเงื่อนไข นโยบาย การใช้บริการใดๆ ก็ตามที่ระบุในเว็บไซต์ Lamptan.co.th ให้ยึดถือ ตามข้อตกลงและเงื่อนไขการใช้บริการที่ปรากฏในกรณีพิเศษในการบังคับใช้ก่อน และข้อกําหนด กรณีพิเศษจะถือว่าแยกออกจากข้อกําหนดนโยบายหลักของเว็บไซต์ Lamptan.co.th 
          </div>
          <div class="text_indent3 text_body mt-3">
            9. การสิ้นสุด/เพิกถอนสมาชิกภาพ 
          </div>
          <div class="text_indent4 text_body mt-2">
            9.1 กรณีเกิดความเสียหายต่อผู้ใช้บริการอื่น/เว็บไซต์ Lamptan.co.th หรือบริษัทฯ ผู้ใช้บริการ ตกลงรับผิดชอบชดใช้ความเสียหายที่เกิดขึ้นตามความเป็นจริงทุกประการ 
          </div>
          <div class="text_indent4 text_body mt-2">
            9.2 กรณีที่สมาชิก/ผู้ใช้บริการ กระทําหรือมีเหตุอันควรเชื่อได้ว่ามีเจตนาไม่เหมาะสมขัดต่อ กฎหมายและศีลธรรมอันดี บริษัทฯขอสงวนสิทธิในการเพิกถอนสมาชิกภาพได้ทันที โดยไม่ต้องแจ้ง ให้ทราบล่วงหน้าและหากมีความเสียหายใดๆ เกิดขึ้นสมาชิก/ผู้ใช้บริการจะต้องรับผิดชอบในความเสียหายทั้งสิ้น 
          </div>
          <div class="text_indent4 text_body mt-2">
            9.3 เว็บไซต์ Lamptan.co.th ทําการเพิกถอน จํากัด เปลี่ยนแปลง เพิ่ม/ลด จํานวนเครดิตได้ตาม ความเหมาะสม โดยการสมัครเป็นสมาชิกเว็บไซต์ Lamptan.co.th ถือว่าท่านยอมรับเงื่อนไขข้อ ตกลงแล้ว เงื่อนไขการคืนสินค้า เงื่อนไขการเปลี่ยน 
          </div>
          <div class="text_indent4 text_body mt-2">
            - เคลมสินค้า 
          </div>
          <div class="text_indent5 text_body mt-2">
            1. ลูกค้าต้องตรวจรับสินค้าและปฏิเสธการรับสินค้าทันที หากพบปัญหาเช่น ผิดรุ่น ผิดสี จํานวนไม่ ครบ หรือชํารุดเสียหายเป็นต้น 
          </div>
          <div class="text_indent5 text_body mt-2">
            2. ลูกค้าต้องแจ้งปัญหา การเคลม-ส่งคืนสินค้าทุกกรณี ที่ ฝ่ายบริการลูกค้า Lamptan เบอร์ 02- 4512968-9 ก่อนทุกครั้ง 
          </div>
          <div class="text_indent5 text_body mt-2">
            3. สินค้าที่มีปัญหาจากตัวผลิตภัณฑ์ ให้แจ้งเปลี่ยน/คืนได้ โดยต้องได้รับการตรวจพิสูจน์ก่อนทุกกรณี 
          </div>
          <div class="text_indent5 text_body mt-2">
            4. Lamptan.co.th จะติดต่อแจ้งผลการพิจารณา หากไม่ผิดเงื่อนไขและมีสินค้าพร้อมเปลี่ยน จะ สอบถามช่องทางการเปลี่ยน-คืนที่ลูกค้าสะดวกกลับไปยังท่านพร้อมนัดส่งสินค้าใหม่ทันที 
          </div>
          <div class="text_indent5 text_body mt-2">
            5. ไม่รับเปลี่ยน-คืน กรณีสินค้าที่ใช้งานแล้ว หรือกรณีท่ีลูกค้าต้องการเปลี่ยนโดยไม่ใช่สาเหตุจาก ปัญหาผลิตภัณท์ หมายเหตุ : ทาง Lamptan.co.th ขอสงวนสิทธิ์ในการไม่รับคืนสินค้าประเภทต่อไปนี้ 
          </div>
          <div class="text_indent5 text_body mt-2">
            • กลุ่มสินค้าสั่งพิเศษ/ สั่งผลิต 
          </div>
          <div class="text_indent5 text_body mt-2">
            • กลุ่มสินค้า Clearance ราคาพิเศษ 
          </div>
          <div class="text_indent5 text_body mt-2">
            • สินค้าอันมีเหตุจากสินค้าที่สั่งซื้อไม่เข้ากับรสนิยมส่วนตัวของลูกค้า **การเปลี่ยน-เคลมสินค้านั้น ลูกค้าจะต้องทําการแจ้งปัญหาภายใน 14 วัน หลังจากได้รับสินค้าหรือ บริการ ถ้ามีสินค้าพร้อมส่งจะสามารถดําเนินการได้ภายใน 7-14 วัน หากไม่แล้วอาจจะมีแจ้งเปลี่ยน รุ่นใหม่หรือยกเลิกการซื้อ "สินค้ามีการรับประกันสินค้าจากผู้ผลิตและผู้นําเข้าสินค้าชั้นนําของประเทศ เพื่อเพิ่มความเชื่อมั่นให้ แก่ผู้ซื้อที่จะได้รับสินค้าที่มีคุณภาพและความพึงพอใจหลังการขายที่ดีเยี่ยม จากทางศูนย์บริการ โดยตรง ในการเคลมสินค้าและสอบถามข้อมูลเพิ่มเติมเกี่ยวกับตัวสินค้าสามารถติดต่อสอบถามได้ที่ ศูนย์บริการหลังการขายของเรา" เงื่อนไขการยกเลิกการซื้อขาย และการคืนสินค้า เมื่อท่านได้รับสินค้าและ/หรือบริการเรียบร้อยแล้วพบปัญหา บริษัทฯ ขอสงวนสิทธิ์การพิจารณารับ คืนสินค้าตามเงื่อนไขที่กําหนดไว้ ทั้งนี้คําพิจารณาของโฮมโปร ถือเป็นที่สิ้นสุด ลูกค้ามีสิทธิ์ยกเลิกการซื้อขายโดยมีหนังสือแจ้งให้ทางบริษัทฯ ทราบผ่านทางอีเมล์ Customer Service เบอร์02-4512968-9 ภายใน 14 วันนับแต่วันที่ได้รับสินค้าหรือบริการ และให้ส่งคืนสินค้า พร้อมเอกสารหลักฐานอ้างอิงการซื้อให้แก่บริษัทฯในสภาพที่สมบูรณ์ ภายใต้เงื่อนไขต่อไปนี้ 

          </div>
          <div class="text_indent7 text_body mt-3">
            1. สินค้านั้นจะต้องไม่มีความชํารุดเสียหาย/บุบสลายจากการกระทําของลูกค้า 
          </div>
          <div class="text_indent7 text_body mt-2">
            2. สินค้าต้องแนบใบเสร็จรับเงิน/เอกสารยืนยันการชําระเงินจากธนาคารหรือEmail และเซลล์สลิป/ ใบกํากับภาษี ที่อยู่ปลายทางจากขนส่งเอกชนในซองพลาสติกบนกล่องพัสดุ (กรณีส่งโดยขนส่ง เอกชน) 
          </div>
          <div class="text_indent7 text_body mt-2">
            3. สินค้านั้นต้องไม่ผ่านการใช้งาน ไม่ตัดป้ายตราสินค้าหรือป้ายราคาออก และพร้อมกล่องบรรจุหรือ หีบห่อในสภาพที่สมบูรณ์ ,ใบรับประกัน ,คู่มือและอุปกรณ์ต่อพ่วงของสินค้า 
          </div>
          <div class="text_indent7 text_body mt-2">
            4. สินค้านั้นต้องอยู่ภายใต้เงื่อนไขที่ผู้ผลิตสินค้ากําหนดไว้ 
          </div>
          <div class="text_indent7 text_body mt-2">
            5. สินค้าที่ได้รับภายใต้เงื่อนไขการจัดรายการ อาทิ ของแถม สินค้าแลกรับ สินค้าแลกซื้อ ฯลฯ จะ ต้องส่งคืนพร้อมสินค้าหลัก 
          </div>
          <div class="text_indent7 text_body mt-2">
            6. ค่าใช้จ่ายในการขนส่งสินค้าคืน ค่าห่อของขวัญ ค่าหีบห่อพิเศษ ค่าติดตั้ง และค่าธรรมเนียม บริการอื่นๆไม่สามารถขอคืนได้ ช่องทางการเปลี่ยน-คืนสินค้า เมื่อสินค้ามีปัญหาลูกค้าต้องทําการติดต่อมา Lamptan.co.th โดยอีเมลมาที่ Customer Service โทร02-4512968-9เมื่อได้รับการยืนยันการเปลี่ยน-คืนสินค้าที่มีปัญหาจาก Lamptan.co.th ลูกค้า สามารถส่งสินค้ากลับมาที่ Lamptan.co.th เพื่อทําการตรวจสอบตามเงื่อนไข ได้ 3 ช่องทางตามด้าน ล่างนี้ ส่งเปลี่ยน-คืนสินค้าผ่านทางไปรษณีย์ไทย หรือ ขนส่งเอกชน มาได้ที่:

          </div>
          <div class="text_indent8 text_body mt-2">
            1. ส่งเปลี่ยน-คืนสินค้าผ่านทางไปรษณ๊ไทย หรือ ขนส่งเอกชน มาได้ที่: ฝ่ายบริการลูกค้า บริษัท แลมป์ตั้น ไลท์ติ้ง (2001) จํากัด - สํานักงานใหญ่ บริษัท แลมป์ตั้น ไลท์ติ้ง (2001) จํากัด - สํานักงานใหญ่ 18/72-75 ซ.เทียนทะเล19 ถ.บางขุนเทียน-ชายทะเล แขวงท่าข้าม เขตบางขุนเทียน กรุงเทพฯ 10150 การรับเปลี่ยน-คืนสินค้าโดยลูกค้าจะต้องเป็นผู้ไปดําเนินการเองที่ ไปรษณีย์ไทย หรือ ขนส่งเอกชน โดยลูกค้าต้องรับผิดชอบค่าขนส่งก่อน จนกว่าจะตรวจพิสูจน์สภาพสินค้าและเจ้าหน้าที่ Lamptan.co.th จะติดต่อลูกค้ากลับไปภายใน 7 วันทําการ หลังจากได้รับสินค้าเพื่อยืนยันการ เปลี่ยน-คืนสินค้าพร้อมคืนค่าขนส่งสินค้าที่ลูกค้าชําระไว้ หากพิสูจน์ว่าไม่เข้าเงื่อนไขการเปลี่ยน-คืน ทางบริษัทฯ จะส่งสินค้าคืนท่านโดยเก็บเงินปลายทาง 

          </div>
          <div class="text_indent8 text_body mt-2">
            2. ลูกค้าเข้ามาติดต่อด้วยตัวเองทุกสาขาของ Lamptan.co.th (ตามเงื่อนไขการเปลี่ยน-คืนสินค้า) ได้ที่แผนกลูกค้าสัมพันธ์ เงื่อนไขการจ่ายคืนค่าสินค้าและบริการ บริษัทฯ ขอสงวนสิทธิ์ในการพิจารณาคืนค่าสินค้าและบริการ โดยจะไม่ทําการคืนเป็น เงินสด ทุก กรณี ซึ่งจะดําเนินการคืนค่าสินค้าและบริการโดยวิธีการดังต่อไปนี้: 

          </div>
          <div class="text_indent9 text_body mt-2">
            1. จ่ายคืนเข้าบัญชีธนาคารของลูกค้า ภายใน 7-15 วันหลังจากบริษัทฯยืนยันการรับคืน

          </div>
          <div class="text_indent9 text_body mt-2">
            2. จ่ายคืนวงเงินเข้าบัตรเครดิตของลูกค้า ภายใน 30 วันหลังจากบริษัทฯยืนยันการรับคืนและจะมีผล ในรอบบัญชีถัดไปของบัตรเครดิต
          </div>
        </div>
          </div>
      <!--Smart Cube-->

<br>
<br>



</div>
</div>
<div class="loading-indicator">

</div>

 <%= render partial: 'footer/footer' %>
<%= javascript_include_tag "index", "data-turbolinks-track" => true  %>
</body>

