<fieldset id="order_details" data-hook>
  <div class="clear"></div>
  <legend align="center"><%= Spree.t(:confirm) %></legend>
  <%= render partial: 'spree/shared/order_details', locals: { order: @order } %>
</fieldset>

<br />


<div class="form-buttons" data-hook="buttons">
  <% Spree::Frontend::Config[:require_terms_and_conditions_acceptance].tap do |requires_acceptance| %>
    <% if requires_acceptance %>
      <div class="terms_and_conditions" data-hook="terms_and_conditions">
        <div class="policy"><%= render partial: "spree/checkout/terms_and_conditions" %></div>
        <%= check_box_tag :accept_terms_and_conditions, 'accepted', false %>
        <%= label_tag :accept_terms_and_conditions, Spree.t(:agree_to_terms_of_service) %>
      </div>
    <% end %>



        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
    <%= submit_tag 'กรุณาอ่านรายละเอียดยืนยันการสั่งซื้อและตรวจสอบรายการสินค้า ของท่านอีกครั้ง ก่อนคลิกconfirmด้านล่างเพื่อยืนยันการสั่งซื้อ',
      disabled: requires_acceptance,
      class: "continue btn btn-white products_button btn-md products_bu_details orange_bg text_body #{ 'disabled' if requires_acceptance }", id: "clickButtonss" %>
      </div>

  <% end %>

  <script>Spree.disableSaveOnClick();</script>
</div>



<script type="text/javascript">

</script>