<style>

.omise-checkout-button , .omise-checkout-button:hover
{
  color: #ffffff !important;
    background-color: #f7941d!important;
    border-color: #f7941d!important;
}
.omise-checkout-button 
{

padding: 1rem 2rem !important; 
    font-size: 1em;
    color: #000000;
      border-top-left-radius: calc(1.5rem - 1px)!important;
      border-top-right-radius: calc(1.5rem - 1px)!important;
      border-bottom-right-radius: calc(1.5rem - 1px)!important;
      border-bottom-left-radius: calc(1.5rem - 1px)!important;
      margin: auto;
position:absolute;
left:25%;
    padding: 10px;
}

.term-con
{

padding: 1rem 2rem !important; 
    font-size: 1em;
    color: #000000;
      border-top-left-radius: calc(1.5rem - 1px)!important;
      border-top-right-radius: calc(1.5rem - 1px)!important;
      border-bottom-right-radius: calc(1.5rem - 1px)!important;
      border-bottom-left-radius: calc(1.5rem - 1px)!important;
      margin: auto;
position:absolute;
left:21%;
    padding: 10px;
}
</style>

<div >
  <fieldset id="payment" data-hook>
 
    <div data-hook="checkout_payment_step">
   

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="bg_white1">
        <div class="row">
          <!--left CHOOSE PAYMENT OPTION  --> 
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="check_text_title">CHOOSE PAYMENT OPTION</div>
            <div class="line_full"></div>
            <div class="payment_body_choose">
              <!--select payment-->
              <div id="payment-method-fields" data-hook> 
                <ul class="payment_option">

                   <% @order.available_payment_methods.each_with_index do |method, index| %>

                   <% if index === 0 %>
                     
                   
                
       
                  <li class="payment_input_option register no-margin">
                       <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first%>
                   
                    <label for="r1"><span></span></label>

                  </li>
           
                  <li> 

                    <%= image_tag("payment/direct_bank.png", :alt => "logo", :class => "img-fluid payment_option_img") %></li>
                    <li><div class="payment_text_option text_bold">Direct Bank <br>Transfer</div></li>
                           <% else %>
                    <li class="payment_input_option register no-margin"> 
                      
                 <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
                   
                      <label for="r2"><span></span>
                      </li>

                      <li><%= image_tag("payment/credit.png", :alt => "logo", :class => "img-fluid payment_option_img") %></li>
                      <li><div class="payment_text_option text_bold">Credit or <br>Debit Card</div></li>
                          <% end %>
                         <% end %>

                    </ul>
                  </div>
                  <!--select payment-->
                   <% @order.available_payment_methods.each_with_index do |method, index| %>

                  <% if index === 0 %>

                  <div class="payment_body_text"  id="payment_method_<%= method.id %>">
                    <!-- direct_bank -->
                    <div id="direct_bank">
                            <fieldset>
                      <%= render partial: "spree/checkout/payment/#{method.partial_name}", locals: { payment_method: @order.available_payment_methods.first } %>
                            </fieldset>

                             <div class="form-buttons" data-hook="buttons">
      <%= submit_tag Spree.t(:save_and_continue), class: 'continue btn btn-white products_button btn-lg  products_bu_details orange_bg' %>
      <script>Spree.disableSaveOnClick();</script>
    </div>

                    </div> 
                   <% else %>
                    <div id="credits" id="payment_method_<%= method.id %>">
                       <fieldset>
                     

                      <form class="checkout-form btn btn-white products_button btn-lg  products_bu_details orange_bg" name="checkoutForm" method="POST" action="wishlist_controller.rb">
  <script type="text/javascript" src="https://cdn.omise.co/omise.js"
          data-key="pkey_test_5bdalw73ga3q9b2txnv"
          data-frame-label="LAMPTAN"
          data-frame-description="LAMPTAN"
          data-default-payment-method="credit_card"
          data-other-payment-methods="credit_card"
          data-amount=<%= @order.display_order_total_after_store_credit.money * 100 %>
          data-currency="thb"
          data-button-label="Click to pay">
  </script>
</form>

<br>
<br>
<br>

<a target="_blank" href="http://jowktp.co/lamptan_term.pdf" class="term-con">Term and condition</a>

                        

                    </div>
                  </div>
                  <%  end %> 
                   <%  end %> 
                                   

                     

                  <!--credit  (credit.html)--> 

                  <!--paypal-->

                  <!--paypal-->
                </div>
              </div>
        

            <!--left CHOOSE PAYMENT OPTION--> 
            <!--right  ORDER SUMMARY   (order_summary.html) -->
            <div class="col col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <!--order_summary.html-->
              <div id="checkout-summary" data-hook="checkout_summary_box" class="">
                <div class="check_text_title">ORDER SUMMARY</div>
                <!--line--> 
                <div class="line_full"></div>
                <!--line--> 
                <div class="table-responsive mt-3">
                  <table class="table line_top line_coll">
                    <tr>
                      <td class="payment_text_small w-50 line_top">PRODUCTS</td>
                      <td class="payment_text_small w-25 text-center line_top">QTY</td>
                      <td class="payment_text_small w-25 text-right line_top">PRICE</td>
                    </tr>
                    <!--line--> 
                    <tr>
                      <td colspan="3"><div class="line_top w-100"></div></td>
                    </tr>
                    <!--line--> 
                    <% @order.line_items.each do |item| %>
                    <!--1 :name, qty ,price --> 

                    <tr >
                      <td class="payment_text_middle text_bold"> <%= item.variant.product.name %> </td>
                      <td class="text-center"><%= item.quantity %></td>
                      <td class="text-right"><%= item.single_money.to_html %></td>
                    </tr>
                    <!--1 :name, qty ,price --> 

                    <!--line--> 
                    <tr>
                      <td colspan="3"><div class="line_top_orange w-100"></div></td>
                    </tr>
                    <% end %>
                    <!--line--> 

                    <!--2 :name, qty ,price -->

                    <!--2 :name, qty ,price -->

                    <!--Subtotal-->
                    <% @order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
                    <tr class="mt-4">
                     <td colspan="2" class="line_top payment_text_middle"><div class="text_bold">Shipping </div><div> </div></td>
                     <td class="text-right line_top"><%= Spree::Money.new(shipments.sum(&:total_before_tax), currency: @order.currency).to_html %></td>
                   </tr>
                   <% end %>
                   <!--Subtotal-->
                   <!--Shipping-->

                   <!--Shipping-->
                   <!--Total-->
                   <tr class=" sum">
                     <td class="payment_text_middle"><div class="text_bold">Grand Total</div><div>Now</div></td>
                     <td colspan="2" class="text-right payment_text_big orange text_bold"><%= @order.display_order_total_after_store_credit.money %></td>
                   </tr>
                   <!--Total-->
                 </table>
               </div>
             </div>      
           </div>
           <!--order_summary_body.html-->
         </div>
         <!--right  ORDER SUMMARY  (order_summary.html) -->
       </div>
     </div>
   </div>
 </div>
</fieldset>

    <br class="space" />

   

  </div>
 

 <!--body-->

 <script>

// Set your Omise public key to authenticate against Omise API. This allows card information to be sent directly to Omise.
Omise.setPublicKey('pkey_test_5bdalw73ga3q9b2txnv');

var checkoutForm = document.getElementById('checkout-form')
    checkoutForm.addEventListener('submit', submitHandler, false);

// Submit handler for checkout form.
function submitHandler(event) {
  event.preventDefault();

  /*
  NOTE: Using `data-name` to prevent sending credit card information fields to the backend server via HTTP Post
  (according to the security best practice https://www.omise.co/security-best-practices#never-send-card-data-through-your-servers).
  */
  var cardObject = {
    name:             document.querySelector('[data-name="nameOnCard"]').value,
    number:           document.querySelector('[data-name="cardNumber"]').value,
    expiration_month: document.querySelector('[data-name="expiryMonth"]').value,
    expiration_year:  document.querySelector('[data-name="expiryYear"]').value,
    security_code:    document.querySelector('[data-name="securityCode"]').value
  };

  Omise.createToken('card', cardObject, function(statusCode, response) {
    if (statusCode === 200) {
      // Success: assign Omise token back to your checkout form.
      checkoutForm.omiseToken.value = response.id;

      // Then, perform a form submit action.
      checkoutForm.submit();
      alert('eiei');
    }
    else {
      // Error: display an error message. Note that `response.message` contains
      // a preformatted error message. Also note that `response.code` will be
      // "invalid_card" in case of validation error on the card.

      console.log(response.message);
    }
  });
}



</script>

 <!-- script -->
 
 <!-- script -->
 <script type="text/javascript">

 $(document).ready(function(){
    $("#direct_bank").show();
    $("#credits").hide();
    $("#paypal").hide();
    $("#ch_bank").attr("src","assets/images/direct bank_2.png");
});

 $('input[type=radio]').change(function() {
  close();
  if (this.value == '18') {
    $("#direct_bank").show();
    $("#credits").hide();
    $("#paypal").hide();
    $("#ch_bank").attr("src","assets/images/direct bank_2.png");
  }
  else if (this.value == '20') {
    $("#credits").show();
    $("#paypal").hide();
    $("#direct_bank").hide();
    $("#ch_credit").attr("src","assets/images/credit_2.png");
  } 
  else if (this.value == '24') {
    $("#credits").show();
    $("#paypal").hide();
    $("#direct_bank").hide();
    $("#ch_credit").attr("src","assets/images/credit_2.png");
  } 
  else if (this.value == '41') {
    $("#direct_bank").show();
    $("#credits").hide();
    $("#paypal").hide();
    $("#ch_bank").attr("src","assets/images/direct bank_2.png");
  }
  else if (this.value == '42') {
    $("#credits").show();
    $("#paypal").hide();
    $("#direct_bank").hide();
    $("#ch_credit").attr("src","assets/images/credit_2.png");
  } 
    else if (this.value == '43') {
    $("#credits").show();
    $("#paypal").hide();
    $("#direct_bank").hide();
    $("#ch_credit").attr("src","assets/images/credit_2.png");
  } 
  else if (this.value == '3') {
    $("#paypal").show();
    $("#credit").hide();
    $("#direct_bank").hide();
    $("#ch_paypal").attr("src","assets/images/paypal_2.png");
  }

});

 function close(){
  $("#credit").hide();
  $("#direct_bank").hide();
  $("#paypal").hide();

  $("#ch_bank").attr("src","assets/images/direct bank_1.png");
  $("#ch_credit").attr("src","assets/images/credit_1.png");
  $("#ch_paypal").attr("src","assets/images/paypal_1.png");

}

</script>
