<style>

.omise-checkout-button , .omise-checkout-button:hover
{
  color: #ffffff !important;
    background-color: #f7941d!important;
    border-color: #f7941d!important;
}
.omise-checkout-button 
{

padding: 1rem 2rem !important; 
    font-size: 1em;
    color: #000000;
      border-top-left-radius: calc(1.5rem - 1px)!important;
      border-top-right-radius: calc(1.5rem - 1px)!important;
      border-bottom-right-radius: calc(1.5rem - 1px)!important;
      border-bottom-left-radius: calc(1.5rem - 1px)!important;
      margin: auto;
position:absolute;
left:25%;
    padding: 10px;
}

.term-con
{

padding: 1rem 2rem !important; 
    font-size: 1em;
    color: #000000;
      border-top-left-radius: calc(1.5rem - 1px)!important;
      border-top-right-radius: calc(1.5rem - 1px)!important;
      border-bottom-right-radius: calc(1.5rem - 1px)!important;
      border-bottom-left-radius: calc(1.5rem - 1px)!important;
      margin: auto;
position:absolute;
left:21%;
    padding: 10px;
}
</style>

<div >
  <fieldset id="payment" data-hook>
 
    <div data-hook="checkout_payment_step">
   

  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="bg_white1">
        <div class="row">
          <!--left CHOOSE PAYMENT OPTION  --> 
          <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
            <div class="check_text_title">CHOOSE PAYMENT OPTION</div>
            <div class="line_full"></div>
            <div class="payment_body_choose">
              <!--select payment-->
              <div id="payment-method-fields" data-hook> 
                <ul class="payment_option">

                   <% @order.available_payment_methods.each_with_index do |method, index| %>
                   
                   
                   <%= method.id %>
                   <% if index === 0 %>
                     
                   
                
       
                  <li class="payment_input_option register no-margin">
                       <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first%>
                   
                    <label for="r1"><span></span></label>

                  </li>
           
                  <li> 

                    <%= image_tag("payment/direct_bank.png", :alt => "logo", :class => "img-fluid payment_option_img") %></li>
                    <li><div class="payment_text_option text_bold">Direct Bank <br>Transfer</div></li>
                           <% else %>
                    <li class="payment_input_option register no-margin"> 
                      
                 <%= radio_button_tag "order[payments_attributes][][payment_method_id]", method.id, method == @order.available_payment_methods.first %>
                   
                      <label for="r2"><span></span>
                      </li>

                      <li><%= image_tag("payment/credit.png", :alt => "logo", :class => "img-fluid payment_option_img") %></li>
                      <li><div class="payment_text_option text_bold">Credit or <br>Debit Card</div></li>
                          <% end %>
                         <% end %>

                    </ul>
                  </div>
                  <!--select payment-->
                   <% @order.available_payment_methods.each_with_index do |method, index| %>

                  <% if index === 0 %>

                  <div class="payment_body_text"  id="payment_method_<%= method.id %>">
                    <!-- direct_bank -->
                    <div id="direct_bank">
                            <fieldset>
                      <%= render partial: "spree/checkout/payment/#{method.partial_name}", locals: { payment_method: @order.available_payment_methods.first } %>
                            </fieldset>

                             <div class="form-buttons" data-hook="buttons">
      <%= submit_tag Spree.t(:save_and_continue), class: 'continue btn btn-white products_button btn-lg  products_bu_details orange_bg' %>
      <script>Spree.disableSaveOnClick();</script>
    </div>

                    </div> 
                   <% else %>
                 </filedset>
               </form>
                    <div id="credits" id="payment_method_<%= method.id %>">
                      
                      
    <%= form_for Payment.new, html: { multipart: true } do |f| %>

    <!-- This is a hidden field you must add, to input omise token -->
     <%= f.text_field :amount, class: 'form-control'  ,:value => @order.display_order_total_after_store_credit.money.to_i * 100,:style => "display:none;"%>

    <%= f.text_field :desc, class: 'form-control'  ,:value => @order.number ,:style => "display:none;"%>

    <%= f.text_field :omise_token, class: 'form-control'  ,:id => "omiseToken" ,:style => "display:none;"%>

    <!-- This is card information fields that we required for tokenization -->
    <div>
      <label>Card Number</label>
      <input type="text" data-name="cardNumber" placeholder="••••••••••••••••" />
    </div>

    <div>
      <label>Name on card</label>
      <input type="text" data-name="nameOnCard" placeholder="Full Name" />
    </div>

    <div>
      <label>Expiry date</label>
      <select data-name="expiryMonth">
        <option value="">MM</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="9">10</option>
        <option value="9">11</option>

        <!-- ... -->
        <option value="12">12</option>
      </select>

      <select data-name="expiryYear">
        <option value="">YYYY</option>

        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2022">2023</option>
        <option value="2022">2024</option>
        <!-- ... -->
        <option value="2025">2025</option>
        <option value="2025">2026</option>
      </select>
    </div>

    <div>
      <label>Security code</label>
      <input type="text" data-name="securityCode" placeholder="123" />
    </div>

    <div>
      <%= f.submit 'Checkout', :class => "check-omise" %>
     
    </div>
<% end %>

  <!-- Include omise.js. -->






<br>
<br>
<br>

<a target="_blank" href="/termandcondition" class="term-con">Term and condition</a>
  

                    </div>
                  </div>
                  <%  end %> 
                   <%  end %> 
                                   

                     

                  <!--credit  (credit.html)--> 

                  <!--paypal-->

                  <!--paypal-->
                </div>
              </div>
        

            <!--left CHOOSE PAYMENT OPTION--> 
            <!--right  ORDER SUMMARY   (order_summary.html) -->
            <div class="col col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <!--order_summary.html-->
              <div id="checkout-summary" data-hook="checkout_summary_box" class="">
                <div class="check_text_title">ORDER SUMMARY</div>
                <!--line--> 
                <div class="line_full"></div>
                <!--line--> 
                <div class="table-responsive mt-3">
                  <table class="table line_top line_coll">
                    <tr>
                      <td class="payment_text_small w-50 line_top">PRODUCTS</td>
                      <td class="payment_text_small w-25 text-center line_top">QTY</td>
                      <td class="payment_text_small w-25 text-right line_top">PRICE</td>
                    </tr>
                    <!--line--> 
                    <tr>
                      <td colspan="3"><div class="line_top w-100"></div></td>
                    </tr>
                    <!--line--> 
                    <% @order.line_items.each do |item| %>
                    <!--1 :name, qty ,price --> 

                    <tr >
                      <td class="payment_text_middle text_bold"> <%= item.variant.product.name %> </td>
                      <td class="text-center"><%= item.quantity %></td>
                      <td class="text-right"><%= item.single_money.to_html %></td>
                    </tr>
                    <!--1 :name, qty ,price --> 

                    <!--line--> 
                    <tr>
                      <td colspan="3"><div class="line_top_orange w-100"></div></td>
                    </tr>
                    <% end %>
                    <!--line--> 

                    <!--2 :name, qty ,price -->

                    <!--2 :name, qty ,price -->

                    <!--Subtotal-->
                    <% @order.shipments.group_by { |s| s.selected_shipping_rate.name }.each do |name, shipments| %>
                    <tr class="mt-4">
                     <td colspan="2" class="line_top payment_text_middle"><div class="text_bold">Shipping </div><div> </div></td>
                     <td class="text-right line_top"><%= Spree::Money.new(shipments.sum(&:total_before_tax), currency: @order.currency).to_html %></td>
                   </tr>
                   <% end %>
                   <!--Subtotal-->
                   <!--Shipping-->

                   <!--Shipping-->
                   <!--Total-->
                   <tr class=" sum">
                     <td class="payment_text_middle"><div class="text_bold">Grand Total</div><div>Now</div></td>
                     <td colspan="2" class="text-right payment_text_big orange text_bold"><%= @order.display_order_total_after_store_credit.money %></td>
                   </tr>
                   <!--Total-->
                 </table>
               </div>
             </div>      
           </div>
           <!--order_summary_body.html-->
         </div>
         <!--right  ORDER SUMMARY  (order_summary.html) -->
       </div>
     </div>
   </div>
 </div>
</fieldset>

    <br class="space" />

   

  </div>
 

 <!--body-->
 <script src="https://cdn.omise.co/omise.js"></script>
<script>

// Set your Omise public key to authenticate against Omise API. This allows card information to be sent directly to Omise.
Omise.setPublicKey('pkey_5beag0y4qutu2xde6wl');
//pkey_test_5bdalw73ga3q9b2txnv

//pkey_5beag0y4qutu2xde6wl

 $(document).ready(function(){
    $("#direct_bank").show();
    $("#credits").hide();
    $("#paypal").hide();
    $("#ch_bank").attr("src","assets/images/direct bank_2.png");

    


   
});


 $('input[type=radio]').change(function() {
  close();
  if (this.value == '18') {
     $('.continue').click(function(){return true;});
    $("#direct_bank").show();
    $("#credits").hide();
    $("#paypal").hide();
    $("#ch_bank").attr("src","assets/images/direct bank_2.png");
  }
  else if (this.value == '29') {
      $('.continue').click(function(){return false;});
    $("#credits").show();
    $("#paypal").hide();
    $("#direct_bank").hide();
   
    $("#ch_credit").attr("src","assets/images/credit_2.png");


    $('form').submit(function () {

// Submit handler for checkout form.
  var form = $(this);
  event.preventDefault();

  /*
  NOTE: Using `data-name` to prevent sending credit card information fields to the backend server via HTTP Post
  (according to the security best practice https://www.omise.co/security-best-practices#never-send-card-data-through-your-servers).
  */
  var cardObject = {
    name:             form.find('[data-name="nameOnCard"]').val(),
    number:           form.find('[data-name="cardNumber"]').val(),
    expiration_month: form.find('[data-name="expiryMonth"]').val(),
    expiration_year:  form.find('[data-name="expiryYear"]').val(),
    security_code:    form.find('[data-name="securityCode"]').val()
  };

  Omise.createToken('card', cardObject, function(statusCode, response) {
    if (statusCode === 200) {
        alert(response.id);
      // Success: assign Omise token back to your checkout form.
        $("#omiseToken").val(response.id);

       // Then fill the omise_token.
        

        // And submit the form.
        form.get(0).submit();



      
      
    }
    else {
      alert(response.message);
   
      // Error: display an error message. Note that `response.message` contains
      // a preformatted error message. Also note that `response.code` will be
      // "invalid_card" in case of validation error on the card.

      console.log(response.message);
    };
      });
  return false;
  });

  } 
  else if (this.value == '24') {
    $("#credits").show();
    $("#paypal").hide();
    $("#direct_bank").hide();
    $("#ch_credit").attr("src","assets/images/credit_2.png");
  } 
  else if (this.value == '41') {
    $("#direct_bank").show();
    $("#credits").hide();
    $("#paypal").hide();
    $("#ch_bank").attr("src","assets/images/direct bank_2.png");
  }
  else if (this.value == '42') {
    $("#credits").show();
    $("#paypal").hide();
    $("#direct_bank").hide();
    $("#ch_credit").attr("src","assets/images/credit_2.png");
  } 
    else if (this.value == '43') {
        $('.continue').click(function(){return false;});
    $("#credits").show();
    $("#paypal").hide();
    $("#direct_bank").hide();
    $("#ch_credit").attr("src","assets/images/credit_2.png");


        $('form').submit(function () {

// Submit handler for checkout form.
  var form = $(this);
  event.preventDefault();

  /*
  NOTE: Using `data-name` to prevent sending credit card information fields to the backend server via HTTP Post
  (according to the security best practice https://www.omise.co/security-best-practices#never-send-card-data-through-your-servers).
  */
  var cardObject = {
    name:             form.find('[data-name="nameOnCard"]').val(),
    number:           form.find('[data-name="cardNumber"]').val(),
    expiration_month: form.find('[data-name="expiryMonth"]').val(),
    expiration_year:  form.find('[data-name="expiryYear"]').val(),
    security_code:    form.find('[data-name="securityCode"]').val()
  };

  Omise.createToken('card', cardObject, function(statusCode, response) {
    if (statusCode === 200) {
        alert(response.id);
      // Success: assign Omise token back to your checkout form.
        $("#omiseToken").val(response.id);

       // Then fill the omise_token.
        

        // And submit the form.
        form.get(0).submit();



      
      
    }
    else {
      alert(response.message);
   
      // Error: display an error message. Note that `response.message` contains
      // a preformatted error message. Also note that `response.code` will be
      // "invalid_card" in case of validation error on the card.

      console.log(response.message);
    };
      });
  return false;
  });
  } 
  else if (this.value == '3') {
    $("#paypal").show();
    $("#credit").hide();
    $("#direct_bank").hide();
    $("#ch_paypal").attr("src","assets/images/paypal_2.png");
  }

});

 function close(){
  $("#credit").hide();
  $("#direct_bank").hide();
  $("#paypal").hide();

  $("#ch_bank").attr("src","assets/images/direct bank_1.png");
  $("#ch_credit").attr("src","assets/images/credit_1.png");
  $("#ch_paypal").attr("src","assets/images/paypal_1.png");

}

</script>
