
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<html>
<head data-hook="inside_head">
  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="My custom spree store">
  <title><%= content_for?(:title) ? yield(:title) : "My title" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'spree/frontend/all' %>
  <%= stylesheet_link_tag "spree/frontend/all" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "index" %>
</head>

<body>
  <%= render partial: 'header/header' %>

  <section id="smart_home">


    <%= link_to "smarthome", @smarthome do %>
    <%= image_tag("smart_home.JPG", :alt => "logo", :class => "img-fluid carousel-head") %>
    <% end %>



  </section>

  <section id="body">
    <div class="container">
      <div class="row smart_home_top">
        <!--left -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">

          <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="container_hover">

                <div class="content_eff">
                  <a href="" target="_blank">
                    <div class="content-overlay bg_white"></div>
                    <%= image_tag("smart_home/Switch-Photo.jpg", :alt => "logo", :class => "img-fluid blur") %>
                    <div class="content-details-eff fadeIn-bottom">
                      <h3 class="smart_home_content_title mb-0">OUR SMART HOME</h3>
                      <h3 class="smart_home_content_title">PRODUCT</h3>
                      <button class="btn btn-warning products_button  bu_orange  ">ORDER NOW</button>
                    </div>
                  </a>
                </div>
              </div>

            </div>
          </div>  
          <div class="row smart_home_top">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <!--left card-->

              <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                   <div class="card no_border">
                  <% Spree::Product.available.where(:name => "test3").order('position ASC').each_with_index do |s, index| %>
                  <%= image_tag s.display_image.attachment(:product), itemprop: "card-img-top i_cn_lampton_diy_img smart_home_card_img" %>
                  <% end %>
                  <div class="card-body smart_home_card_padding ">
                    <p class="card-title smart_home_txt_title_card  d-flex justify-content-center">smoke detector</p>
                    <p class="smart_home_card_txt_price d-flex justify-content-center">฿ 3,500</p>
                    <div class="card-footers d-flex justify-content-center"><button class="btn btn-outline-dark smart_home_cart_bu "> ADD TO CART</button></div>
                  </div>
                </div>
                </div>

                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card no_border">
                  <% Spree::Product.available.where(:name => "test4").order('position ASC').each_with_index do |s, index| %>
                  <%= image_tag s.display_image.attachment(:product), itemprop: "card-img-top i_cn_lampton_diy_img smart_home_card_img" %>
                  <% end %>
                  <div class="card-body smart_home_card_padding ">
                    <p class="card-title smart_home_txt_title_card  d-flex justify-content-center">smoke detector</p>
                    <p class="smart_home_card_txt_price d-flex justify-content-center">฿ 3,500</p>
                    <div class="card-footers d-flex justify-content-center"><button class="btn btn-outline-dark smart_home_cart_bu "> ADD TO CART</button></div>
                  </div>
                </div>
              </div> 

              </div>
              <!--left card-->
            </div>
          </div> 
          <div class="row smart_home_top">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12  ">

              <div class="container_hover">
                <div class="content_eff">
                  <a href="" target="_blank">
                    <div class="content-overlay"></div>
                    <%= image_tag("smart_home/Family-01-Photo.jpg", :alt => "logo", :class => "content-image") %>
                    <div class="content-details-eff fadeIn-right text-left">
                      <h3 class="smart_home_content_title mb-0">SMART HOME</h3>
                      <h3 class="smart_home_content_title mb-0">FAMILY</h3>
                      <p>Lorem ipsum dolor sit amet,</p>
                      <p>consectetur adipiscing elit.</p>
                      <button class="btn  smart_home_button bu_orange mt-1"> MORE DETAILS</button>
                    </div>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--left -->

        <!--right -->
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="row">
            <!--right card-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <div class="card no_border ">
                    <div class="text-center">
                     <% Spree::Product.available.where(:name => "test1").order('position ASC').each_with_index do |s, index| %>
                     <%= image_tag s.display_image.attachment(:product), itemprop: "card-img-top i_cn_lampton_diy_img smart_home_card_img" %>
                     <% end %>

                   </div>
                   <div class="card-body smart_home_card_padding ">
                    <p class="card-title smart_home_txt_title_card  d-flex justify-content-center">smoke detector</p>
                    <p class="smart_home_card_txt_price d-flex justify-content-center">฿ 3,500</p>
                    <div class="card-footers d-flex justify-content-center"><button class="btn btn-outline-dark smart_home_cart_bu "> ADD TO CART</button></div>
                  </div>
                </div>
              </div>

              <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="card no_border">
                  <% Spree::Product.available.where(:name => "test2").order('position ASC').each_with_index do |s, index| %>
                  <%= image_tag s.display_image.attachment(:product), itemprop: "card-img-top i_cn_lampton_diy_img smart_home_card_img" %>
                  <% end %>
                  <div class="card-body smart_home_card_padding ">
                    <p class="card-title smart_home_txt_title_card  d-flex justify-content-center">smoke detector</p>
                    <p class="smart_home_card_txt_price d-flex justify-content-center">฿ 3,500</p>
                    <div class="card-footers d-flex justify-content-center"><button class="btn btn-outline-dark smart_home_cart_bu "> ADD TO CART</button></div>
                  </div>
                </div>
              </div> 

            </div>
          </div>
          <!--right card-->
        </div>  
        <div class="row smart_home_top">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
           <div class="container_hover">

            <div class="content_eff">
              <a href="" target="_blank">
                <div class="content-overlay bg_orange"></div>
                <%= image_tag("smart_home/what_is.jpg", :alt => "logo", :class => "content-image") %>
              
                <div class="content-details-eff fadeIn-top txt-left">
                  <ul class="nav">
                    <li>
                      <h3 class="smart_home_content_title mb-0">WHAT IS </h3>
                      <h3 class="smart_home_content_title">SMART HOME ?</h3>
                      <p>Lorem ipsum dolor sit amet,</p>
                      <p>consectetur adipiscing elit.</p>
                    </li>
                    <li><button class="btn smart_home_button bu_white smart_home_bu2"> MORE DETAILS</button></li>
                  </ul>

                </div>
              </a>
            </div>
          </div>

        </div>
      </div> 
      <div class="row smart_home_top">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">

          <div class="container_hover">
            <div class="content_eff">
              <a href="" target="_blank">
                <div class="content-overlay"></div>
                <%= image_tag("smart_home/smart_home_app.jpg", :alt => "logo", :class => "content-image") %>
                <div class="content-details-eff fadeIn-left text-right">
                  <h3 class="smart_home_content_title mb-0">SMART HOME</h3>
                  <h3 class="smart_home_content_title">Application</h3>
                  <p>Lorem ipsum dolor sit amet,</p>
                  <p>consectetur adipiscing elit.</p>
                  <p>Ut ut malesuada orci.</p>
                  <button class="btn  smart_home_button bu_orange mt-1"> MORE DETAILS</button>
                </div>
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!--right -->

  </div>


  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
      <div class="about_txt_title text-uppercase">
        highlight product
        <hr>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
     <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
      <div class="carousel-inner row w-100 mx-auto" role="listbox">
        <% Spree::Product.available.order('position ASC').limit(5).each_with_index do |s, index| %>
              



              <div class="carousel-item col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3 smart_home_padding_h_p active">
          <div class="card about_card no_padding">
            <%= image_tag s.display_image.attachment(:product) , :class => "card-img-top i_cn_lampton_diy_img"%>
          
            <div class="card-body about_card_body">
              <p class="card-text i_highlight_txt d-flex justify-content-center"><%= link_to s.name, product_path(s) %></p>
            </div>
          </div>
        </div>


        <% end %>






     
        
       
      

<a class="carousel-control-prev arror" href="#carouselExample" role="button" data-slide="prev"> 
</a>
<a class="carousel-control-next text-faded arror" href="#carouselExample" role="button" data-slide="next">>
</a>
</div>
</div>
</div>

</div>


</section>
<%= javascript_include_tag "index", "data-turbolinks-track" => true  %>
</body>
</html>
