



<!--header web-->

<!--menu bar web-->


<div class="bar_menu_2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">SMART HOME</li>
                <!--<li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>-->
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- เมนูข้างบน-->

    <!-- show mobile FILTER and SORT-->
    <div class="container-fluid">
      <div class="row">
        <div class="d-md-none  col-sm-12 col-md-12 col-lg-6 col-xl-8">
          <ul class="nav d-flex justify-content-end w-100">
            <li class="w-50 text-center">
              <%= image_tag("products/filter.png", :class => "img-fluid mr-2 product_icon_head") %>
              
              <div class="product_text_head">FILTER</div>
            </li>
            <li class="w-50 text-center">
              <%= image_tag("products/sort.png", :class => "img-fluid mr-2 product_icon_head") %>
              <div class="product_text_head">SORT</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- show mobile FILTER and SORT-->


    <div class="container">
      <div class="row">
       <!--menu left  โชว์เฉพาะเว็บ -->
       <div class="d-none d-md-block col-sm-3 col-md-3 col-lg-3 col-xl-3">
        LIGHTING
        <div id="product_menu">
          <div class="menu_left">
            <!--หัวข้อ-->
            <div class="product_menu_left " data-toggle="collapse" data-target="#product_menu_1" aria-expanded="false"> Smart Function</div>
            <!--หัวข้อ-->
            <div class="line_menu_product"></div>
          </div>
          
         

          
        </div>
        <!--menu-->
      </div>
      <!--menu left  โชว์เฉพาะเว็บ -->
      <!--menu left  -->

      <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 ">
        <!--menu right เมนูด้านขวาบน -->
        <div class="row d-none d-md-block">

          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-end ">
            

              </div>
            </div>
            <!--menu right  -->
            <div class="row mt-4">
              


              <% if params[:keywords] %>

              <div data-hook="search_results" class="product-listings">
                <% if @products.empty? %>
                <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
                <% else %>
                <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
                <% end %>
              </div>

              <% else %>

       
                <% if @products.any? %>

                <% @products.each do |product| %>
                <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>

                <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
                <div class="col-6 col-sm-6  col-md-4 col-lg-4 col-xl-4 no_padding_sm_l" >
                  <div data-aos="fade-up" data-aos-duration="600" class="aos-init aos-animate">
                    <div class="card_product ml-lg-1 product_card" >
                      <div class="item_img">
                        <%= link_to url do %>
                        <%= image_tag(product.display_image.attachment(:product), :class => "img-fluid zoom" )%>
                        <% end %>
                      </div>
                      <div class="card-body products_card_body" >
                        <div data-aos="zoom-in" data-aos-duration="300" data-aos-delay="100" class="aos-init">
                         <p class="card-title about_txt products_card_title_txt">
                          <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
                        </p>
                        <p class="card-text products_text"><%= product.description %></p>

                        <ul class="nav">
                          <li class="nav-item products_card_footer1 products_text_price no_padding  d-flex align-items-center">
                            <%= display_price(product) %>
                          </li>
                          <!--price-->
                          <!--button-->
                           
                          <li class="nav-item products_card_footer2 no_padding d-flex align-items-center"><button type="button" class="btn btn-white products_button  btn-lg btn-block"><%= link_to url do %>ADD TO CART <% end %></button></li>
                          
                          <!--button-->
                        </ul>
                    
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <% end %>

              <% end %>
              <% reset_cycle("classes") %>
            </ul>
            <% end %>

          </div>
          <% end %>
        </div>



        <!--products-->

        <!--products-->


        <div class="row mt-5 mb-5">
          <!-- แสดงผลจำนวน-->
          
          <!-- แสดงผลจำนวน-->
          <!--page-->
        
          <!--page-->
        </div>
      </div>
    </div>

  </div>

  <!--about_certificate-->
  <!--body-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 

  <script type="text/javascript">
  $('.product_menu_list').click(function() {
        //close
        $('.product_menu_list').css("color", "#000000");
        $("#"+this.id).css("color", "#f7941d");
      });
      /*alert("===1"+$('.product_menu_list').attr('aria-expanded'));
        if ($('.product_menu_list').attr('aria-expanded') === true) {
            alert("===");
          }*/

          </script>

     
          <script>
          AOS.init({
            offset: 200,
            duration: 600,
            easing: 'ease-in-sine',
            delay: 100,
          });
          </script>