



<!--header web-->

<!--menu bar web-->

<style>

.pagination
{
  padding-left:20%;
}

.page:hover
{
  color: #ffffff !important;
    background-color: #f7941d!important;
    border-color: #f7941d!important;
}

.page
{
padding: 1rem 1rem !important; 
    font-size: 1em;
    color: #000000;
      border-top-left-radius: calc(1.5rem - 2px)!important;
      border-top-right-radius: calc(1.5rem - 2px)!important;
      border-bottom-right-radius: calc(1.5rem - 2px)!important;
      border-bottom-left-radius: calc(1.5rem - 2px)!important;
      margin: auto;

    padding: 20px;
}



.next
{
  display: none;
}
.last
{
  display: none;
}

</style>

<div class="bar_menu_2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">SMART HOME</li>
                <!--<li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>-->
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- เมนูข้างบน-->

    <!-- show mobile FILTER and SORT-->
    <div class="container-fluid">
      <div class="row">
        <div class="d-md-none  col-sm-12 col-md-12 col-lg-6 col-xl-8">
          <ul class="nav d-flex justify-content-end w-100">
            
          </ul>
        </div>
      </div>
    </div>
    <!-- show mobile FILTER and SORT-->


    <div class="container">
      <div class="row">
       <div class="d-none d-md-block col-sm-3 col-md-3 col-lg-3 col-xl-3">
        LIGHTING
        <div id="product_menu">
          <div class="menu_left">
            <% @taxonomies.each_with_index do |taxonomy, index_main| %>
            <input id="taxon_value" value="<%= @taxonomies.count %>" style="display:none;">
            <% cache [I18n.locale, taxonomy, 3] do %>
            <h6 data-toggle="collapse" data-target="#toggle-taxons-<%=index_main%>" class="taxon-title"><%= taxonomy.name %></h6>
            <div id="toggle-taxons-<%=index_main%>" class="collapse">
              <% taxonomy.root.children.map.with_index do |taxon, index| %>
              <ul class="root_0_<%=index_main%>">
                <li class="root_1x_<%=index%>"><%=  link_to(taxon.name, seo_url(taxon))%></li>
                <% taxon.children.map.with_index do |taxon2, index2| %>
                <ul class="root_2_<%=index2%>">
                  <li class="root_2x_<%=index2%>"><%=  link_to(taxon2.name, seo_url(taxon2)) %></li>
                  <% taxon2.children.map.with_index do |taxon3, index3| %>
                  <ul class="root_3">
                    <li class="root_3x_<%=index3%>"><%=  link_to(taxon3.name, seo_url(taxon3)) %></li>
                  </ul>
                  <% end %>
                </ul>
                <% end %>
              </ul>
              <% end %>
            </div>
            <div class="line_menu_product"></div>
            <% end %>
            <% end %>
          </div>
        </div>

      </div>
      <!--menu left  โชว์เฉพาะเว็บ -->
      <!--menu left  -->

      <div class="col-sm-12 col-md-9 col-lg-9 col-xl-9 ">
        <!--menu right เมนูด้านขวาบน -->
         <div class="row ">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex-2 justify-content-end-2 ">
              <ul class="nav d-flex-2 justify-content-end-2 product_menu_filter">
                <li class="w-50">
                  <div class="dropdown w-100 text-center">
                    <!--หัวข้อหลัก-->
                    <div class="dropdown-toggle w-100"  role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= image_tag("products/filter.png", :class => "img-fluid mr-2 product_icon_head") %>
                      
                      <div class="product_text_head">
                      FILTER</div>
                    </div>
                    <!--หัวข้อหลัก-->
                    <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuLink">
                      <div id="accordion">
                        <div class="filter_1">
                          <!--หัวข้อ-->
                          <div id="heading_filter_1">
                            <div class="product_sub_title_bar collapsed product_text_head_sub" data-toggle="collapse" data-target="#collapse_filter_1" aria-expanded="false" aria-controls="collapse_filter_1">WATT</div>
                          </div>
                          <!--หัวข้อ-->
                          <!--หัวข้อย่อย-->
                          <div id="collapse_filter_1" class="collapse" aria-labelledby="heading_filter_1" data-parent="#accordion">
                            <div class="product_list_sub_sub">
                              <ul class=" text-left ">
                                <li class="product_text_head_sub">xxxx</li>
                                <li class="product_text_head_sub">xxxx</li>
                                <li class="product_text_head_sub">xxxx</li>
                                <li class="product_text_head_sub">xxxx</li>
                                <li class="product_text_head_sub">xxxx</li>
                              </ul>
                            </div>
                          </div>
                          <!--หัวข้อย่อย-->
                          <div class="line_filter"></div>
                        </div>
                        <div class="filter_2">
                          <!--หัวข้อ-->
                          <div class="product_sub_title_bar  collapsed collapse_filter_2 product_text_head_sub" data-toggle="collapse" data-target="#collapse_filter_2" aria-expanded="false" aria-controls="collapse_filter_2">ขั้ว</div>
                          <!--หัวข้อ-->
                          <!--หัวข้อย่อย-->
                          <div id="collapse_filter_2" class="collapse" aria-labelledby="heading_filter_2" data-parent="#accordion">
                            <div class="product_list_sub_sub">
                              <ul class=" text-left">
                                <li class="product_text_head_sub">F27</li>
                                <li class="product_text_head_sub">E14</li>
                                <li class="product_text_head_sub">GU5.3</li>
                                <li class="product_text_head_sub">E40</li>
                                <li class="product_text_head_sub">ต่อไฟตรง</li>
                              </ul>
                            </div>
                          </div>
                          <!--หัวข้อย่อย-->
                          <div class="line_filter"></div>
                        </div>
                        
                        <div class="filter_3">

                          <div class="product_sub_title_bar  collapsed product_text_head_sub" data-toggle="collapse" data-target="#collapse_filter_3" aria-expanded="false" aria-controls="collapse_filter_3">PLACE</div>
                          <!--หัวข้อย่อย-->
                          <div id="collapse_filter_3" class="collapse" aria-labelledby="heading_filter_3" data-parent="#accordion">
                            <div class="product_list_sub_sub">
                              <ul class=" text-left">
                                <li class="product_text_head_sub">Residence</li>
                                <li class="product_text_head_sub">Office</li>
                                <li class="product_text_head_sub">Industrial</li>
                                <li class="product_text_head_sub">Outdoor</li>
                              </ul>
                            </div>
                          </div>
                          <!--หัวข้อย่อย-->
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="w-50-2">
                  <div class="dropdown w-100 text-right text-center_2">
                    <!--หัวข้อหลัก-->
                    <div class="dropdown-toggle w-100" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       <%= image_tag("products/sort.png", :class => "img-fluid mr-2 product_icon_head") %>
                    
                      <div class="product_text_head">
                      SORT</div>
                      <!--หัวข้อหลัก-->
                    </div>
                    <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuLink1">
                      <a class="dropdown-item product_sub_title_bar2 text-center product_text_head_sub" href="#">BEST SELLER</a>
                      <div class="line_filter"></div>
                      <a class="dropdown-item product_sub_title_bar2 text-center product_text_head_sub" href="#">RECOMMEND</a>
                      <div class="line_filter"></div>
                      <a class="dropdown-item product_sub_title_bar2 text-center product_text_head_sub" href="#">RELEVANCE</a>
                      <div class="line_filter"></div>
                      <a class="dropdown-item product_sub_title_bar2 text-center product_text_head_sub" href="#">PRICE:LOW-HIGH</a>
                      <div class="line_filter"></div>
                      <a class="dropdown-item product_sub_title_bar2 text-center product_text_head_sub" href="#">PRICE:HIGH-LOW</a>
                      <div class="line_filter"></div>
                      <a class="dropdown-item product_sub_title_bar2 text-center product_text_head_sub" href="#">DISCOUNT</a>
                    </div>
                  </div>
                </li>
              </ul>
              
            </div>
          </div>
            <!--menu right  -->
            <div class="row mt-4">
              <%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= @products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>


              <% if params[:keywords] %>

              <div data-hook="search_results" class="product-listings">
                <% if @products.empty? %>
                <h6 class="search-results-title"><%= Spree.t(:no_products_found) %></h6>
                <% else %>
                <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
                <% end %>
              </div>

              <% else %>

       
                <% if @products.any? %>

                <% @products.each do |product| %>
                <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>

                <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
                <div class="col-6 col-sm-6  col-md-4 col-lg-4 col-xl-4 no_padding_sm_l" >
                  <div data-aos="fade-up" data-aos-duration="600" class="aos-init aos-animate">
                    <div class="card_product ml-lg-1 product_card" >
                      <div class="item_img">
                        <%= link_to url do %>
                        <%= image_tag(product.display_image.attachment(:product), :class => "img-fluid zoom" )%>
                        <% end %>
                      </div>
                      <div class="card-body products_card_body" >
                        <div data-aos="zoom-in" data-aos-duration="300" data-aos-delay="100" class="aos-init">
                         <p class="card-title about_txt products_card_title_txt">
                          <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
                        </p>
                     

                        <ul class="nav">
                          <li class="nav-item products_card_footer1 products_text_price no_padding  d-flex align-items-center">
                            <%= display_price(product) %>
                          </li>
                          <!--price-->
                          <!--button-->
                           
                          <li class="nav-item products_card_footer2 no_padding d-flex align-items-center"><button type="button" class="btn btn-white products_button  btn-lg btn-block" style=""><%= link_to url do %>ADD TO CART <% end %></button></li>
                          
                          <!--button-->
                        </ul>
                    
                      </div>

                    </div>
                  </div>
                </div>
              </div>
              <% end %>

              <% end %>
              <% reset_cycle("classes") %>
            </ul>
            <% end %>

          </div>
          <% end %>
        </div>
        <% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>


        <!--products-->

        <!--products-->


        <div class="row mt-5 mb-5">
          <!-- แสดงผลจำนวน-->
          
          <!-- แสดงผลจำนวน-->
          <!--page-->
        
          <!--page-->
        </div>
      </div>
    </div>

  </div>

  <!--about_certificate-->
  <!--body-->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 

  <script type="text/javascript">
  $('.product_menu_list').click(function() {
        //close
        $('.product_menu_list').css("color", "#000000");
        $("#"+this.id).css("color", "#f7941d");
      });
      /*alert("===1"+$('.product_menu_list').attr('aria-expanded'));
        if ($('.product_menu_list').attr('aria-expanded') === true) {
            alert("===");
          }*/

          </script>

     
          <script>
          AOS.init({
            offset: 200,
            duration: 600,
            easing: 'ease-in-sine',
            delay: 100,
          });
          </script>