<% if @taxon.permalink.split("/")[0] == "smarthome" %>
   <%= render partial: 'spree/shared/menu_products_smart_home' , locals: {  taxon: @taxon } %>
          <div class="row mt-4">
            <% if params.has_key?(:price_low) %>
              <%= render partial: 'spree/shared/product_price_low', locals: { products: @products, taxon: @taxon } %>
            <% elsif params.has_key?(:price_high) %>
              <%= render partial: 'spree/shared/product_price_high', locals: { products: @products, taxon: @taxon } %>
            <% else %>
              <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
            <% end %>
          <div class="row mt-5 mb-5">
        </div>
      </div>
    </div>

  </div>
</div>

  <% unless params[:keywords].present? %>
    <div data-hook="taxon_children">
      <% cache [I18n.locale, @taxon] do %>
        <%= render partial: 'taxon', collection: @taxon.children %>
      <% end %>
    </div>
  <% end %>
<% end %>

