
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<html>
<head data-hook="inside_head">

  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Bootstrap CSS -->
  <meta name="description" content="My custom spree store">
  <title><%= content_for?(:title) ? yield(:title) : "My title" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'spree/frontend/all' %>
  <%= stylesheet_link_tag "spree/frontend/all" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "index" %>
</head>

<body>
  <%= render partial: 'header/header' %>

    <section id="about_vision_missions">
      <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
              <div class="about_txt_title text-uppercase  ">
                TEST
              <hr/>
              </div>
            </div>
           
          </div>
      </div>
        <%= image_tag("img_vision.JPG", :alt => "logo", :class => "img-fluid w-100") %>
    
      <!--<img src="assets/images/img_vision.JPG" class="img-fluid w-100" />-->
      <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
              <div class="about_txt about_text_mt_mb ">
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx <br>
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx<br>
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx xxxxxxx xxxxxx xxxxxxxxxx xxxxxxxxxxxxxxxxxxxxxxxxxxxx xxxxx xxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx
                xxxxxxxxxxxxxxxxx xxxxxxxxxxxxxxxxx<br>
              </div>
            </div>
           
          </div>
      </div>
    </section>
 <%= render partial: 'footer/footer' %>
<%= javascript_include_tag "index", "data-turbolinks-track" => true  %>
</body>
</html>