
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<html>
<head data-hook="inside_head">

  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Bootstrap CSS -->
  <meta name="description" content="My custom spree store">
  <title><%= content_for?(:title) ? yield(:title) : "My title" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'spree/frontend/all' %>
 
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">


  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Avenir' %>

  <style>

@font-face {
        font-family: 'Avenir';
        src:url('Avenir/AvenirLTStd-Book.otf');
        font-weight: normal;
        font-style: normal;
        }
  body{
    font-family: 'Avenir', serif !important;
  }
  </style>
  <%= stylesheet_link_tag "index" %>
</head>

<body>
  <%= render partial: 'header/header' %>
<% if spree_current_user %>


  <div class="bg_details_products">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="bg_white1">
              <div class="row">
                <div class="col-12 col-sm-12 col-md-7 col-lg-7 col-xl-12">
                  <div class="text-center i_txt_title">MY Wishlist <hr></div>
                </div>
                
                
              </div>
              <div class="row">
                <div class="col-12  col-sm-12 col-md-3 col-lg-3 col-xl-3 ">
                
                  <ul class="account_menu_left" style="list-style-type: none;">
                    <li class="border-bottom ">
                      <div class="d-inline text_body text_bold  "><%= Spree::Address.where(:id => spree_current_user.id).first.firstname   %> <%= Spree::Address.where(:id => spree_current_user.id).first.lastname   %></div>
                    </li>
                    <li class=" border-bottom ">
                      <a href="/myaccount" class="">
                        <div class="d-inline ml-2">
                           <%= image_tag("my_account.png", :alt => "logo", :class => "img-fluid") %>
         
                        </div>
                        <div class="d-inline text_body pl-sm-2 pl-xl-3 ">My Account</div>
                      </a>
                    </li>
                    <li class="border-bottom">
                      <a href="/wishlist" class="">
                        <div class="d-inline ml-2">
                          <%= image_tag("my_wishlist.png", :alt => "logo", :class => "img-fluid") %>
                    
                        </div>
                        <div class="d-inline text_body pl-sm-2 pl-xl-3 text_orange">My Wishlist</div>
                      </a>
                    </li>
                   
                    <li class="border-bottom">
                      <a href="/certificate" class="">
                        <div class="d-inline ml-2">
                                  <%= image_tag("my_order.png", :alt => "logo", :class => "img-fluid") %>
                      
                        </div>
                        <div class="d-inline text_body pl-sm-2 pl-xl-3 ">My Order</div>
                      </a>
                    </li>
                     <li class="border-bottom">
             
                        <div class="d-inline ml-2">
                                  
                      
                        </div>
                        <%= link_to Spree.t(:logout), spree.logout_path , :class => "d-inline text_body pl-sm-2 pl-xl-3"%>
                        
                 
                    </li>
                  </ul>
                </div>
               


                  				<div class="col-12  col-sm-12 col-md-9 col-lg-9 col-xl-9">
									
									<div id="profile_my_lishlist" class="row">
										

 <% Spree::WishedProduct.where(:wishlist_id => Spree::Wishlist.where(:user_id =>  spree_current_user.id)).each do |wish| variant = wish.variant
        product = variant.product %>
        				 <% if (product != nil) then  %>
										<!--1-->
										 <div class="col-6 col-sm-6  col-md-4 col-lg-4 col-xl-4 no_padding_sm_l" >
							           
							                <div class="card_product ml-lg-1 product_card" >
							                  <!--รูป-->
							                  <div class="item_img">
							                  	 <%= image_tag variant.images.first.attachment.url(:small) ,:class =>"img-fluid"%>
							                  </div>
							                   <!--รูป-->
							                  <div class="card-body products_card_body" >

							                    <!--ลดเปอร์เซ็นต์ 
							                    <p class="sale_pop">
							                    <img class="img-sale-product" src="assets/images/products/bg_sale_pop.png"></p>
							                    <p class="text_sale">20%</p>-->
							                
							                      <!--name--> 
							                      <p class="card-title about_txt products_card_title_txt"> <%= product.name %></p>
							                      <!--name --> 
							                      <!--detail-->
							                      <p class="card-text text_small"><%= product.description %></p>
							                      <!--detail-->
							                      <!-- price button-->
							                      <ul class="nav">
							                        <!--price-->
							                        <li class="nav-item products_card_footer1 products_text_price no_padding  d-flex align-items-center">฿ <%= product.price %></li>
							                        <!--price-->
							                        <!--button-->
							                        <li class="nav-item products_card_footer2 no_padding d-flex align-items-center"><a href="/products/<%= product.name %>"><button type="button" class="btn btn-white products_button  btn-lg btn-block">ADD TO CART</button></a></li>
							                        <!--button-->
							                      </ul>
							                      <!-- price button-->
							                    <!-- price-->
							                    </div>
							                    
							              
							                </div>
							              </div>
							       	<% else %>
							            <!--1-->
							              <% end %>
							            <% end %>

							            <!--2-->
							            
							            <!--9-->
							            
									</div>

							       
							  
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
		
		</div>
		
    	     <%= link_to Spree.t(:logout), spree.logout_path %>
    </div>

<% else %>
<% end %>


 <%= render partial: 'footer/footer' %>
<%= javascript_include_tag "index", "data-turbolinks-track" => true  %>
</body>
</html>