<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<html>
<head data-hook="inside_head">

  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Bootstrap CSS -->
  <meta name="description" content="My custom spree store">
  <title><%= content_for?(:title) ? yield(:title) : "My title" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'spree/frontend/all' %>
 
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">


  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

      <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Avenir' %>

  <style>


@font-face {
        font-family: 'Avenir';
        src:url('Avenir/AvenirLTStd-Book.otf');
     
        }
  body{
     
  }
  </style>
  <%= stylesheet_link_tag "index" %>
</head>

<body>
  <%= render partial: 'header/header' %>


				
		<div class="container ">

	        <div class="row">
	            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
	              <div class="about_txt_title text-uppercase  ">
	                FAQ
	              <hr/>
	              </div>
	            </div>
	        </div>
             <!--Smart Cube-->
	        <div class="row mt-5">
 				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
 					<div class="text_title text_bold mb-4">Smart Cube</div>
					<ul class="ul_faq text_body" id="faq">
						<!--1-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_1" data-toggle="collapse" data-target="#subfaq_1" aria-expanded="false" id="brochure">Q1: ติดตั้งอุปกรณ์ Smart cube อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4 collapse" id="subfaq_1"  class="collapse" data-parent="#faq">
							<p class="mb-0">A1: วิธีการติดตั้งอุปกรณ์ Smart Cube สามารถปฏิบัติตามขั้นตอนดังต่อไปนี้ <br>
								1. ติดตั้งแอพพลิเคชั่น “LAMPTAN HOME” ลงบนสมาร์ทโฟนของท่าน ท่านสามารถดาวน์โหลดจาก App Store ในระบบ IOS หรือ Google Play store ในระบบ Android ได้<br>
								2. เปิดอุปกรณ์ Smart Cube โดยกดปุ่มด้านบนอุปกรณ์ค้างไว้ 6 วินาที จนปรากฏแสงไฟสีแดงกระพริบเร็วๆบนอุปกรณ์<br>
								3. เข้าไปที่แอพพลิเคชั่น “LAMPTAN HOME” กดที่สัญลักษณ์ “+” ด้านมุมขวาบน และกดเลือกกลุ่มอุปกรณ์ประเภท
								“Remote” และเข้าไปเลือกที่ “Magic Cube” จากนั้นจึงกด “next”<br>
								4. กดเข้าเลือกที่สัญลักษณ์การเชื่อมต่อเครือข่ายบนสมาร์ทโฟนของท่าน และเลือกที่สัญญาน “Homemate_AP” จากรายการสัญญาณเครือข่ายที่ปรากฏ จากนั้นกลับเข้าไปที่แอพพลิเคชั่น “LAMPTAN HOME” อีกครั้งพิมพ์รหัสผ่านของเราเตอร์หรือโมเด็มอินเตอร์เน็ตของท่านลงไปจากนั้นกด “Connect”<br>
								5. รอประมาณ 60 วินาที ในขณะที่แอพพลิเคชั่น “LAMPTAN HOME” กำลังค้นหาสัญญาณของอุปกรณ์ Smart Cube<br>
								6. กด “save” เมื่ออุปกรณ์ Smart Cube ติดตั้งสมบูรณ์แบบเรียบร้อยแล้ว และเริ่มกดเพิ่มอุปกรณ์รีโมทของท่านลงไปได้</p>
							</div>
						</li>
						<!--1-->
						<!--2-->	
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_2" data-toggle="collapse" data-target="#subfaq_2" aria-expanded="false" id="brochure">Q2: เราจะทราบได้อย่างไรว่าอุปกรณ์ Smart Cube ตั้งค่าสมบูรณ์แบบเรียบร้อยแล้ว?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_2"  class="collapse" data-parent="#faq">
							<p class="mb-0">A2: หากอุปกรณ์ Smart Cube ทำการตั้งค่าอย่างสมบูรณ์แบบแล้วจะปรากฏแสงไฟสีฟ้าบนอุปกรณ์ของท่าน</p>
							</div>
						</li>
						<!--2-->	
						<!--3-->	
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_3" data-toggle="collapse" data-target="#subfaq_3" aria-expanded="false" id="brochure">Q3: เราจะมีวิธีปฏิบัติอย่างไรหากการตั้งค่าอุปกรณ์ล้มเหลว?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_3"  class="collapse" data-parent="#faq">
							<p class="mb-0">A3: การตั้งค่าอุปกรณ์ Smart Cube ล้มเหลวอาจเกิดได้จากหลายสาเหตุดังต่อไปนี้<br>
							1. กรุณาตรวจสอบให้แน่ใจว่าเราเตอร์ของท่านสามารถใช้กับสัญญาณ wireless IEEE802.11b/g/n standard<br>
							2. กรุณาตรวจสอบให้แน่ใจว่าระบบความปลอดภัยของเราเตอร์ที่ท่านใช้คือระบบ WEP, WPA-PSK ทางเราแนะนำให้ใช้เป็นระบบ WPA/WPA2.<br>
							3. กรุณาตรวจสอบว่าเราเตอร์เป็นแบบ 2.4G และเปิดระบบ DHCP<br>
							4. กรุณาตรวจสอบอุปกรณ์ Smart Cube ปรากฏแสงไฟสีแดงกระพริบเมื่อท่านได้ทำการกดเพิ่มอุปกรณ์ลงไป<br>
							5. กรุณาตรวจสอบว่าเราเตอร์ของท่านได้เชื่อมต่อกับสัญญาณอินเตอร์เน็ตเรียบร้อยแล้ว<br>
							6. กรุณาตรวจสอบว่าท่านได้ป้อนรหัสผ่านได้ถูกต้อง<br>
							7. หากไม่ใช่กรณีที่กล่าวมาทั้งหมดข้างต้นนี้ กรุณาอ่านคู่มือเพื่อทำการตั้งค่าใหม่อีกครั้ง </p>
							</div>
						</li>
						<!--3-->
						<!--4-->
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_4" data-toggle="collapse" data-target="#subfaq_4" aria-expanded="false" id="brochure">Q4: เหตุใดจึงปรากฏไฟกระพริบช้าๆบนอุปกรณ์ Smart Cube หลังจากที่ได้ทำการตั้งค่าอุปกรณ์แล้ว<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_4"  class="collapse" data-parent="#faq">
							<p class="mb-0">A4: กรุณาตรวจสอบสาเหตุดังต่อไปนี้<br>
							1. กรุณาตรวจสอบว่าเราเตอร์ของท่านมีการตั้งค่าใดๆเป็นพิเศษหรือไม่ เช่น ระบบการป้องกันความปลอดภัย
							การใส่ username และรหัสผ่าน เพื่อเชื่อมต่อสัญญาณอินเตอร์เน็ต<br>
							2. รหัสผ่านไม่ถูกต้อง<br>
							3. ระบบ DHCP ของเราเตอร์ถูกปิด<br>
							4. เราเตอร์ป้องกันการเชื่อมต่อกับสัญญาณจาก Smart Cube
							</p>
							</div>
						</li>
						<!--4-->
						<!--5-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_5" data-toggle="collapse" data-target="#subfaq_5" aria-expanded="false" id="brochure">Q5: หากมีการเปลี่ยนอุปกรณ์ Smart Cube เป็นตัวใหม่ อุปกรณ์จะเชื่อมต่อกับเราเตอร์ได้อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_5"  class="collapse" data-parent="#faq">
							<p class="mb-0">A5: กรุณาตั้งค่า Smart Cube และ เราเตอร์ไร้สายใหม่อีกครั้ง</p>
							</div>
						</li>
						<!--5-->
						<!--6-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_6" data-toggle="collapse" data-target="#subfaq_6" aria-expanded="false" id="brochure">Q6: เราสามารถควบคุมอุปกรณ์ Smart Cube ได้เฉพาะเมื่ออยู่ที่บ้านใช่หรือไม่?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_6"  class="collapse" data-parent="#faq">
							<p class="mb-0">A6: ไม่ใช่ ท่านจะสามารถควบคุมอุปกรณ์ Smart Cube ได้ทุกที่ไม่ว่าท่านจะอยู่ที่ไหน เพียงแค่สมาร์ทโฟนของท่านมีสัญญาณอยู่</p>
							</div>
						</li>
						<!--6-->
						<!--7-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_7" data-toggle="collapse" data-target="#subfaq_7" aria-expanded="false" id="brochure">Q7: เหตุใดบางครั้งอุปกรณ์ Smart Cube จึงแสดงสถานะ Offline?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_7"  class="collapse" data-parent="#faq">
							<p class="mb-0">A7: กรุณาตรวจสอบสัญญาณ Wi-Fi ของท่านว่ายกเลิกการเชื่อมต่ออินเตอร์เน็ตหรือไม่สามารถเชื่อมต่อได้ หรือไม่ และลอง
							ทำการเปิดเครื่องเราเตอร์ใหม่อีกครั้ง</p>
							</div>
						</li>
						<!--7-->
						<!--8-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_8" data-toggle="collapse" data-target="#subfaq_8" aria-expanded="false" id="brochure">
							Q8: อุปกรณ์เครื่องใช้ในบ้านประเภทใดบ้างที่จะสามารถบันทึกสัญญาณเข้ากับ Smart Cube ได้?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_8"  class="collapse" data-parent="#faq">
							<p class="mb-0">A8: ท่านสามารถใช้อุปกรณ์ Smart cube ได้กับทุกๆเครื่องใช้ไฟฟ้าในบ้านที่มีรีโมทคอนโทรล อาทิเช่น โทรทัศน์ พัดลม
							เครื่องปรับอากาศ ลำโพง กล่องสัญญาณเคเบิล เป็นต้น</p>
							</div>
						</li>
						<!--8-->
						<!--9-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_9" data-toggle="collapse" data-target="#subfaq_9" aria-expanded="false" id="brochure">Q9: เราจะสามารถควบคุมอุปกรณ์ไฟฟ้าพร้อมกันหลายชิ้นได้ในเวลาเดียวกันหรือไม่?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_9"  class="collapse" data-parent="#faq">
							<p class="mb-0">A9: ท่านสามารถควบคุมอุปกรณ์ไฟฟ้าพร้อมกันหลายชิ้นในเวลาเดียวกันได้</p>
							</div>
						</li>
						<!--9-->
						<!--10-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_10" data-toggle="collapse" data-target="#subfaq_10" aria-expanded="false" id="brochure">Q10: เราจะสามารถกดเพิ่มอุปกรณ์รีโมทคอนโทรลเพื่อบันทึกลงใน Smart Cube ได้อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_10"  class="collapse" data-parent="#faq">
							<p class="mb-0">A10: เข้าแอพพลิเคชั่น “LAMPTAN HOME” และกดเลือกที่ Smart Cube จากนั้นกดที่ “Add remote control” จะปรากฏ
							รายการอุปกรณ์เครื่องใช้ไฟฟ้าขึ้นมาบนหน้าจอ ให้ท่านกดเลือกเพิ่มอุปกรณ์ที่ต้องการ และเลือกยี่ห้ออุปกรณ์ของขั้นในลำดับต่อไป จากนั้นระบบจะทำการจับสัญญาณรีโมทของอุปกรณ์นั้นๆที่ท่านเลือกเพื่อบันทึกลงใน Smart Cube</p>
						    </div>
						</li>
						<!--10-->
						<!--11-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_11" data-toggle="collapse" data-target="#subfaq_11" aria-expanded="false" id="brochure">Q11: เราจะสามารถเพิ่มโหมดการตั้งเวลาได้อย่างไร ?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_11"  class="collapse" data-parent="#faq">
							<p class="mb-0">A11: กรุณากดเลือกสัญลักษณ์ “. . . ” บนหน้ารีโมทคอนโทรลบนแอพพลิเคชั่น “LAMPTAN HOME” เข้าสู่หน้าการตั้งค่า จะพบคำว่า “Timer” ให้ท่านกดเลือกเพื่อเพิ่มโหมดการตั้งเวลาของอุปกรณ์ลงไป</p>
							</div>
						</li>
						<!--11-->
						<!--12-->
						<li class="li_faq_bottom">
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_12" data-toggle="collapse" data-target="#subfaq_12" aria-expanded="false" id="brochure">Q12: หากเครื่องใช้ไฟฟ้าของเราไม่ได้ปรากฏยี่ห้อตามที่แอพพลิเคชั่นให้มาจะมีวิธีการบันทึกสัญญาณรีโมทลงใน Smart Cube ได้อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_12"  class="collapse" data-parent="#faq">
							<p class="mb-0">A12: ท่านสามารถทำการเพิ่มรีโมทได้โดยการตั้งค่าสัญญาณแบบบันทึกทีละปุ่ม เพื่อกำหนดว่าฟังก์ชั่นการทำงานของแต่ละปุ่มจะเป็นอย่างไร อุปกรณ์ Smart Cube จะบันทึกและรับสัญญาณ IR ของรีโมทเครื่องใช้ไฟฟ้าทีละปุ่มตามที่ท่านจูนเข้าไป</p>
							</div>
						</li>
						<!--12-->
					</ul>
 				</div>
	        </div>
			<!--Smart Cube-->

			<!--Smart Door & Window Sensor-->
			<div class="row mt-5">
 				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
 					<div class="text_title text_bold mb-4">Smart Door & Window Sensor</div>
					<ul class="ul_faq text_body" id="faq2">
						<!--13-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_13" data-toggle="collapse" data-target="#subfaq_13" aria-expanded="false" id="brochure">Q1: ติดตั้งอุปกรณ์อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4 collapse" id="subfaq_13"  class="collapse" data-parent="#faq2">
								<p class="mb-0">A1: วิธีการติดตั้งปฏิบัติตามขั้นตอนดังต่อไปนี้:<br>
								1) ใส่แบตเตอรี่เข้าไปในอุปกรณ์ Smart Door & Window Sensor จะปรากฏแสงไฟ ‘สีเขียว’ กะพริบช้าๆบนอุปกรณ์<br>
								2) เปิดอุปกรณ์ Zigbee mini Hub และเชื่อมต่อกับเครื่องกระจายสัญญาณ (Router) ของท่าน<br>
								3) กดคลิกทีแอพพลิเคชั่น ‘lamptan home ‘ บนสมาร์ทโฟนของท่าน จะพบสัญลักษณ์ ‘+’ ที่มุมขวาด้านบน กดเลือก และเข้าไปเลือกที่หมวดอุปกรณ์ ‘Sensor’ คลิกเข้าไปและกดเลือก ‘Smart Door & Window Sensor’ จากนั้นกดที่ ‘Next’<br>
								4) รอประมาณ 60 วินาทีเพื่อให้ แอพพลิเคชั่น ‘Lamptan Home’ ค้นหาอุปกรณ์ Sensor ของท่าน<br>
								5) เมื่อพบอุปกรณ์แล้วให้กด ‘save’ เสมอ เพื่อบันทึกอุปกรณ์ที่เลือกลงในแอพพลิเคชั่น
								</p>
							</div>
						</li>
						<!--13-->
						<!--14-->	
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_14" data-toggle="collapse" data-target="#subfaq_14" aria-expanded="false" id="brochure">Q2: เราจะทราบได้อย่างไรว่าอุปกรณ์Smart Door & Window Sensor ได้กำหนดค่าการใช้งานเสร็จสมบูรณ์แล้ว?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_14"  class="collapse" data-parent="#faq2">
							<p class="mb-0">A2: ท่านสามารถเข้าไปที่หน้า ‘security’ ในแอพพลิเคชั่น ‘LAMPTAN HOME’ เพื่อตรวจสอบได้ว่าอุปกรณ์ Smart Door & Window Sensor ได้ทำการติดตั้งแล้วหรือไม่ หากติดตั้งแล้วจะพบอุปกรณ์ปรากฏอยู่ในหน้า security ของท่าน
							</p>
							</div>
						</li>
						<!--14-->	
						<!--15-->	
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_15" data-toggle="collapse" data-target="#subfaq_15" aria-expanded="false" id="brochure">Q3: เราจะมีวิธีการแก้ไขอย่างไร หากการตั้งค่าอุปกรณ์ล้มเหลว?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_15"  class="collapse" data-parent="#faq2">
								<p class="mb-0">A3: วิธีการแก้ไขมีหลายวิธีดังต่อไปนี้ <br>
									1. ตรวจสอบให้แน่ชัดว่า ปรากฏแสงไฟสีเขียวกระพริบช้าๆบนอุปกรณ์ในขณะที่เชื่อมต่ออุปกรณ์ Door/Window sensorvกับ Zigbee Minihub<br>
									2. ติดตั้งอุปกรณ์ Smart Door & Window Sensor ให้อยู่ในระยะใกล้กับ Zigbee minihub ยิ่งขึ้น <br>
									3. กดปุ่มบนอุปกรณ์ Smart Door & Window Sensor ค้างไว้ 6 วินาที จนปรากฏแสงไฟสีเขียวกระพริบถี่ๆ บนอุปกรณ์จากนั้นแสงไฟจะดับลงใน 3 วินาที กดปุ่มเดิมซ้ำอีกครั้ง จะปรากฏแสงไฟสีเขียวกระพริบช้าๆ ท่านจึงสามารถลองเชื่อมต่อ
									อุปกรณ์ Smart Door & Window Sensor กับ Zigbee Minihub อีกครั้ง<br>
									4. ตรวจสอบอีกครั้งว่า Zigbee Minihub ของท่านสามารถเชื่อมต่อกับเครื่อข่ายอินเตอร์เน็ตได้หรือไม่<br>
									5. ในขณะที่ Zigbee Minihub ทำการค้นหาอุปกรณ์ Door/window sensor จะต้องปรากฏแสงไฟสีเขียวกระพริบบน
									อุปกรณ์ Zigbee Minihub เช่นกัน<br>
									6. หากไม่สามารถแก้ไขได้ กรุณาอ่านที่หนังสือคู่มือการใช้อีกครั้ง เพื่อทำการตั้งค่าอุปกรณ์<br>
								</p>
							</div>
						</li>
						<!--15-->
						<!--16-->
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_16" data-toggle="collapse" data-target="#subfaq_16" aria-expanded="false" id="brochure">Q4: ทำไมจึงปรากฏคำว่า ‘offline’ ขึ้นบนแอพพลิชั่น LAMPTAN HOME ในบางครั้งแม้จะทำการเชื่อมต่อ Smart Door & Window Sensor เรียบร้อยแล้ว?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_16"  class="collapse" data-parent="#faq2">
								<p class="mb-0">A4: สัญลักษณ์ offline อาจปรากฏขึ้นได้จากสาเหตุดังต่อไปนี้<br>
								1. แบตเตอรี่หมด<br>
								2. อุปกรณ์Smart Door & Window Sensor ติดตั้งอยู่นอกระยะสัญญาณ Zigbee Minihub<br>
								3. Zigbee Minihub อาจไม่ได้เชื่อมต่อกับสัญญานอินเตอร์เน็ต
								</p>
							</div>
						</li>
						<!--16-->
						<!--17-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_17" data-toggle="collapse" data-target="#subfaq_17" aria-expanded="false" id="brochure">Q5: หากมีSmart Door & Window Sensor เครื่องใหม่จะทำการตั้งค่าอย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_17"  class="collapse" data-parent="#faq2">
								<p class="mb-0">A5: ทำการตั้งค่า Smart Door & Window Sensor และ Zigbee Minihub ทั้งหมดใหม่อีกครั้ง</p>
							</div>
						</li>
						<!--17-->
						<!--18-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_18" data-toggle="collapse" data-target="#subfaq_18" aria-expanded="false" id="brochure">Q6: เราจะสามารถติดตั้งอุปกรณ์Smart Door & Window Sensor สูงสุดได้ทั้งหมดกี่เครื่องต่อ Zigbee Minihub เครื่องเนื่องจากอุปกรณ์ไฟฟ้า 1 เครื่องจะสามารถเชื่อมต่อกับแบตเตอรีได้สูงสุด 8 ก้อน หากอุปกรณ์ต้องใช้แบตเตอรี่สูงกว่า 8 ก้อน จะต้องเพิ่ม Zigbee Minihub อีก 1 เครื่อง เพื่อขยายสัญญาณเพิ่มเติม<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_18"  class="collapse" data-parent="#faq2">
							<p class="mb-0">A6: </p>
							</div>
						</li>
						<!--18-->
						<!--19-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_19" data-toggle="collapse" data-target="#subfaq_19" aria-expanded="false" id="brochure">Q7: เราสามารถคืนค่าอุปกรณ์กลับสู่ค่าเริ่มต้นได้อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_19"  class="collapse" data-parent="#faq2">
							<p class="mb-0">A7: กดปุ่มบนอุปกรณ์ Smart Door & Window Sensorค้างไว้ 6 วินาที จนปรากฏแสงไฟสีเขียวกระพริบถี่ๆ บนอุปกรณ์
							จากนั้นแสงไฟจะดับลงใน 3 วินาที แสดงว่า อุปกรณ์ Door/Window sensor กลับเข้าสู่ค่าเริ่มต้นแล้ว</p>
							</div>
						</li>
						<!--19-->
						<!--20-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_20" data-toggle="collapse" data-target="#subfaq_20" aria-expanded="false" id="brochure">
							Q8: แสงไฟบนอุปกรณ์ Smart Door & Window Sensorเป็นอย่างไร ในสถานะอุปกรณ์กำลังใช้งาน<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_20"  class="collapse" data-parent="#faq2">
							<p class="mb-0">A8: หากอุปกรณ์ทำงานแสงไฟสีเขียวจะกระพริบ 1 ครั้ง</p>
							</div>
						</li>
						<!--20-->
						<!--21-->
						<li class="li_faq_bottom">
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_21" data-toggle="collapse" data-target="#subfaq_21" aria-expanded="false" id="brochure">Q9: เราจะตรวจสอบสถานะการทำงานของอุปกรณ์ Smart Door & Window Sensorได้อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_21"  class="collapse" data-parent="#faq2">
							<p class="mb-0">A9: แอพพลิเคชั่น ‘LAMPTAN HOME’ จะสั่งการเตือนมายังสมาร์ทโฟนของท่าน หากมีการเปิดประตู/หน้าต่าง ท่านสามารถเข้าไปที่หน้า ‘security’ บนแอพพลิเคชั่นและกดเลือกอุปกรณ์ Smart Door & Window Sensor เพื่อตรวจสอบบันทึกข้อมูลการเปิดประตู/หน้าต่างได้ เป็นวันและเวลา</p>
							</div>
						</li>
						<!--21-->
						
					</ul>
 				</div>
	        	

	        </div>

	        <!--Smart Wi-Fi Camera-->
	        <div class="row mt-5">
 				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
 					<div class="text_title text_bold mb-4">Smart Wi-Fi Camera</div>
					<ul class="ul_faq text_body" id="faq3">
						<!--22-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_22" data-toggle="collapse" data-target="#subfaq_22" aria-expanded="false" id="brochure">
							Q1: ติดตั้งอุปกรณ์ Smart WiFi Camera อย่างไร?
							<i class="chevron fa fa-fw" id="brochure"></i>
							</div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4 collapse" id="subfaq_22"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A1: วิธีการติดตั้งอุปกรณ์ Smart WiFi Camera สามารถปฏิบัติตามขั้นตอนดังต่อไปนี้<br>
									1. ติดตั้งแอพพลิเคชั่น “Lamptan Home” ลงบนสมาร์ทโฟนของท่าน ท่านสามารถดาว์นโหลดจาก App Store ในระบบ IOS หรือ Google Play store ในระบบ Android ได้<br>
									2. เสียบปลั๊กอุปกรณ์ Smart WiFi Camera กดเปิดอุปกรณ์และรอประมาณ 15 วินาทีจนท่านได้ยินเสียง “Please use mobile phone for WiFi Configuration” จากตัวอุปกรณ์<br>
									3. จากนั้นท่านจะได้ยินเสียง “Please wait for WiFi connecting” ให้ท่านนำอุปกรณ์ปลายแหลมที่แถมมาให้ในกล่อง เสียบลงในรูเล็กๆ ด้านหลังของกล่องเบาๆ ค้างไว้ 8 วินาทีเพื่อทำการรีเซ็ตค่าตั้งต้น รอให้อุปกรณ์ทำการคืนค่าจนกว่าท่านจะได้ยินเสียง “Please use mobile phone for WiFi Configuration” จากตัวอุปกรณ์<br>
									4. เข้าไปที่แอพพลิเคชั่น “Lamptan Home” กดที่สัญลักษณ์ “+” ด้านมุมขวาบน และกดเลือกกลุ่มอุปกรณ์ประเภท “Camera” และเข้าไปเลือกที่ “Smart Wi-Fi Camera ” จากนั้นจึงกด “Add manually”<br>
									5. กดเลือก “I had hear voice prompt” และเลือกสัญญาณ Wi-Fi ที่ท่านใช้ จากนั้นให้ป้อนรหัสผ่านเพื่อเริ่มต้นการเชื่อมต่อ<br>
									6. รอจนกว่า Smart WiFi Camera จะทำการเชื่อมต่อกับแอพพลิเคชั่นเสร็จสมบูรณ์จะปรากฏแสงไฟสีฟ้าและได้ยินเสียง “Connect Success” จากนั้นแอพพลิเคชั่น “LamptanHome” จะแสดงสถานการณ์เชื่อมต่อเสร็จแล้ว<br>
									7. หากแอพพลิเคชั่นไม่แสดงสถานการณ์เชื่อมต่อกับ Smart WiFi Camera สมบูรณ์ และปรากฏแสงไฟสีฟ้าบนอุปกรณ์ให้ท่านกลับเข้าไปที่หน้าแสดงรายการอุปกรณ์ทั้งหมดอีกครั้ง<br>
									8. กดเลือก “Add device by scanning QR code” จากนั้นให้ท่านสแกน QR Code ซึ่งอยู่ที่ฐานของอุปกรณ์ จากนั้นให้กดเลือก “Add Device” ระบบจะทำการเชื่อมต่ออุปกรณ์ Smart WiFi Camera เข้ากับ แอพพลิเคชั่นของท่านอัตโนมัติ<br>
								</p>

							</div>
						</li>
						<!--22-->
						<!--23-->	
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_23" data-toggle="collapse" data-target="#subfaq_23" aria-expanded="false" id="brochure">
							Q2: เราจะทราบได้อย่างไรว่าอุปกรณ์ Smart WiFi Camera ตั้งค่าสมบูรณ์แบบเรียบร้อยแล้ว?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_23"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
								A2: หากอุปกรณ์ Smart WiFi Camera ติดตั้งเรียบร้อยแล้วจะปรากฏแสงไฟสีฟ้าติดค้างอยู่บนอุปกรณ์
								</p>
							</div>
						</li>
						<!--23-->	
						<!--24-->	
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_24" data-toggle="collapse" data-target="#subfaq_24" aria-expanded="false" id="brochure">
							Q3: เราจะมีวิธีปฏิบัติอย่างไรหากการตั้งค่าอุปกรณ์ล้มเหลว?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_24"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
								A3: การตั้งค่าอุปกรณ์ Smart Wi-Fi Socket ล้มเหลวอาจเกิดได้จากหลายสาเหตุดังต่อไปนี้<br>
								1. หากท่านใช้สมาร์ทโฟนหรือแท็บเล็ตระบบ Android กรุณาตรวจสอบว่าอุปกรณ์ของท่านได้อัพเดตระบบเวอร์ชั่น 2.0 หรือสูงกว่า เรียบร้อยแล้ว<br>
								2. ในขณะที่อุปกรณ์ Smart Wi-Fi Camera ทำการตั้งค่าอยู่นั้น แอพพลิเคชั่น “LAMPTAN HOME” จะพบชื่อเราเตอร์ของท่านได้โดยอัตโนมัติ หากไม่สามารถค้นพบได้ ให้ตรวจสอบการเชื่อมต่อของสมาร์ทโฟนของท่านกับ Wi-Fi<br>
								3. กรุณาตรวจสอบให้แน่ใจว่าท่านป้อนรหัสผ่าน Wi-Fi ถูกต้องแล้วหรือไม่<br>

								4. กรุณาตรวจสอบให้แน่ใจว่าเราเตอร์ของท่านสามารถใช้กับสัญญาณ wireless IEEE802.11b/g/n standard<br>
								5. กรุณาตรวจสอบให้แน่ใจว่าท่านใส่ Username ของอินเตอร์เน็ตถูกต้องแล้ว<br>
								6. กรุณาตรวจสอบให้แน่ใจว่าระบบความปลอดภัยของเราเตอร์ท่านใช้คือระบบ WEP, WPA-PSK ทางเราแนะนำให้ใช้เป็นระบบ WPA/WPA2.<br>
								7. กรุณาตรวจสอบเราเตอร์ของท่านว่ามี IP ที่ว่างใช้งานได้อยู่หรือไม่ หากไม่มีให้ยกเลิกการเชื่อมต่อของสัญญาณอื่นที่ท่านใช้ แล้วลองเชื่อมต่อกับอุปกรณ์ Smart Wi-Fi Camera อีกครั้ง<br>
								8. กรุณาตรวจสอบว่าอุปกรณ์ Smart WiFi Camera ได้เชื่อมต่อกับบัญชีผู้ใช้อื่นอยู่หรือไม่<br>
								9. หากไม่ใช่สาเหตุดังที่กล่าวมาทั้งหมดข้างตน ให้ท่านปฏิบัติตามคู่มือการใช้เพื่อทำการติดตั้งอุปกรณ์ใหม่อีกครั้ง<br>
								</p>
							</div>
						</li>
						<!--24-->
						
						<!--26-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_26" data-toggle="collapse" data-target="#subfaq_26" aria-expanded="false" id="brochure">
							Q4: เหตุใดจึงปรากฏไฟกระพริบช้าๆบนอุปกรณ์ Smart WiFi Camera หลังจากที่ไดัทำการตั้งค่าอุปกรณ์แล้ว

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_26"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A4: กรุณาตรวจสอบสาเหตุดังต่อไปนี้<br>
									1. กรุณาตรวจสอบว่าเราเตอร์ของท่านมีการตั้งค่าใดๆเป็นพิเศษหรือไม่ เช่น ระบบการป้องกันความปลอดภัย
									การใส่ username และรหัสผ่าน เพื่อเชื่อมต่อสัญญาณอินเตอร์เน็ต<br>
									2. รหัสผ่านไม่ถูกต้อง<br>
									3. ระบบ DHCP ของเราเตอร์ถูกปิด<br>
									4. เราเตอร์ป้องกันการเชื่อมต่อกับสัญญาณจาก Smart WiFi Camera
								</p>

							</div>
						</li>
						<!--26-->
						<!--27-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_27" data-toggle="collapse" data-target="#subfaq_27" aria-expanded="false" id="brochure">
							Q5: สีของแสงไฟที่ปรากฏบนอุปกรณ์ Smart WiFi Camera แสดงถึงสถานะใดบ้าง?

								<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_27"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A5: สีของแสงไฟแสดงถึงสถานะต่างๆ ดังต่อไปนี้<br>
									- ไฟสีแดงติด : อุปกรณ์ Smart WiFi Camera เปิดใช้งาน<br>
									- ไฟสีแดงกระพริบ: อุปกรณ์กำลังตั้งค่าการเชื่อมต่อ<br>
									- ไฟสีฟ้ากระพริบ: อุปกรณ์กำลังเชื่อมต่อกับเครือข่ายอินเตอร์เน็ต<br>
									- ไฟสีฟ้าติดค้าง: อุปกรณ์เขื่อมต่อกับเครือข่ายอินเตอร์เน็ตเรียบร้อยแล้ว<br>
									- ไฟสีฟ้าและแดงกระพริบสลับกัน: ระบบกำลังทำการอัพเกรด ห้ามปิดอุปกรณ์โดยเด็ดขาด<br>
								</p>
							</div>
						</li>
						<!--27-->
						<!--28-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_28" data-toggle="collapse" data-target="#subfaq_28" aria-expanded="false" id="brochure">
								Q6: เราจำเป็นจะต้องลงทะเบียนบัญชีผู้ใช้หรือไม่เมื่อต้องการใช้อุปกรณ์ Smart WiFi Camera? หากลืมรหัสผ่านจะต้องทำอย่างไร?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_28"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A6: ท่านจำเป็นจะต้องลงทะเบียนบัญชีผู้ใช้กับแอพพลิเคชั่น “LAMPTAN HOME” โดยท่านจะได้รับรหัสผ่านของท่านผ่านทางอีเมลล์ที่ได้ให้ข้อมูลไว้กับระบบ
								</p>
							</div>
						</li>
						<!--28-->
						<!--29-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_29" data-toggle="collapse" data-target="#subfaq_29" aria-expanded="false" id="brochure">
							Q7: หากมีการเปลี่ยนอุปกรณ์ Smart WiFi Camera เป็นตัวใหม่ อุปกรณ์จะเชื่อมต่อกับเราเตอร์ได้อย่างไร?

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_29"  class="collapse" data-parent="#faq3">
							<p class="mb-0">
							A7: ท่านจะต้องทำการตั้งค่า Smart WiFi Camera และเราเตอร์อีกครั้ง
							</p>
							</div>
						</li>
						<!--29-->
						<!--30-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_30" data-toggle="collapse" data-target="#subfaq_30" aria-expanded="false" id="brochure">
							Q8: เหตุใดบางครั้งอุปกรณ์ Smart WiFi Camera จึงแสดงสถานะ Offline?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_30"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A8: กรุณาตรวจสอบสัญญาณ WiFi ของท่านว่ายกเลิกการเชื่อมต่ออินเตอร์เน็ตหรือไม่สามารถเชื่อมต่อได้หรือไม่ และลองทำการเปิดเครื่องเราเตอร์ใหม่อีกครั้ง
								</p>
							</div>
						</li>
						<!--30-->

						<!--31-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_31" data-toggle="collapse" data-target="#subfaq_31" aria-expanded="false" id="brochure">
							Q9: เราสามารถกดเพิ่มอุปกรณ์ Smart WiFi Camera ได้สูงสุดกี่เครื่อง?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_31"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A9: ท่านสามารถกดเพิ่มอุปกรณ์ Smart WiFi Camera ได้สูงสุดถึง 20 เครื่องต่อ 1 บัญชีผู้ใช้และสามารถเข้าไปจัดการตั้งชื่อ Smart WiFi Camera แต่ละเครื่องได้ในแอพพลิเคชั่น “Lamptan Home”
								</p>
							</div>
						</li>
						<!--31-->

						<!--32-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_32" data-toggle="collapse" data-target="#subfaq_32" aria-expanded="false" id="brochure">
							Q10: Smart WiFi Camera สามารถใช้งานในเวลากลางคืนได้หรือไม่?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_32"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A10: อุปกรณ์ Smart WiFi Camera สามารถใช้งานได้ทั้งกลางวันและกลางคืน โดยอุปกรณ์จะมีโหมด night vision ซึ่งสามารถจับภาพได้ไกลถึงระยะ 6 เมตรแม้เป็นเวลากลางคืน
								</p>
							</div>
						</li>
						<!--32-->

						<!--33-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_33" data-toggle="collapse" data-target="#subfaq_33" aria-expanded="false" id="brochure">
							Q11: อุปกรณ์ Smart WiFi Camera ใช้กระแสไฟและพลังงานเท่าไหร่?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_33"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A11: อุปกรณ์ Smart WiFi Camera ใช้กระแสไฟ 1A และพลังงาน 5V
								</p>
							</div>
						</li>
						<!--33-->

						<!--34-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_34" data-toggle="collapse" data-target="#subfaq_34" aria-expanded="false" id="brochure">
							Q12: มุมมองภาพของอุปกรณ์ Smart WiFi Camera สามารถจับภาพได้กี่องศา?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_34"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A12: อุปกรณ์ Smart WiFi Camera สามารถจับภาพรอบด้านได้ถึง 113 องศา
								</p>
							</div>
						</li>
						<!--34-->

						<!--35-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_35" data-toggle="collapse" data-target="#subfaq_35" aria-expanded="false" id="brochure">
							Q13: เราสามารถจัดเก็บวิดีโอที่บันทึกจากกล้องได้เป็นเวลานานเท่าใด หากเลือกให้กล้องบันทึกภาพอัตโนมัติไว้ในหน่วยความจำ?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_35"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A13: ประมาณ 1 สัปดาห์ หากท่านใช้ SD card ที่มีหน่วยความจุ 32G
								</p>
							</div>
						</li>
						<!--35-->

						<!--36-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_36" data-toggle="collapse" data-target="#subfaq_36" aria-expanded="false" id="brochure">
							Q14: มีข้อจำกัดของระยะทางในการจับภาพเคลื่อนไหวหรือไม่?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_36"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A14: หากอุปกรณ์ Smart WiFi Camera และสมาร์ทโฟนของท่านสามารถเชื่อมต่ออินเตอร์เน็ทได้ ท่านสามารถตรวจจับภาพและความเคลื่อนไหวจากกล้องได้แบบReal time ไม่ว่าท่านจะอยู่ที่ไหนในโลก
								</p>	
							</div>
						</li>
						<!--36-->

						<!--37-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_37" data-toggle="collapse" data-target="#subfaq_37" aria-expanded="false" id="brochure">
							Q15: เราสามารถควบคุมอุปกรณ์ Smart Wi-Fi Camera ผ่านสาย LAN ได้หรือไม่?

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_37"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A15: อุปกรณ์ Smart Wi-Fi Camera ไม่สามารถรองรับการควบคุมผ่านสาย LAN ได้ ท่านสามารถควบคุมอุปกรณ์ได้โดยผ่านแอพพลิเคชั่น “LAMPTAN HOME” เมื่อท่านเชื่อมต่ออินเตอร์เน็ตแล้ว
								</p>
							</div>
						</li>
						<!--37-->

						<!--38-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_38" data-toggle="collapse" data-target="#subfaq_38" aria-expanded="false" id="brochure">
							Q16: การตรวจจับความเคลื่อนไหวของอุปกรณ์ Smart WiFi Camera คืออะไร?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_38"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A16: กล้องจะทำการบันทึกภาพโดยอัตโนมัติหากมีสถานการณ์ไม่ปกติหรือตรวจจับพบความเคลื่อนไหวในจุดที่ท่านกำหนดไว้ จากนั้นระบบจะส่งสัญญาณเตือนมายังสมาร์ทโฟนของท่าน
								</p>									
							</div>
						</li>
						<!--38-->

						<!--39-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_39" data-toggle="collapse" data-target="#subfaq_39" aria-expanded="false" id="brochure">
							Q17: เราสามารถจัดเก็บวิดีโอที่บันทึกจากอุปกรณ์ Smart WiFi Camera ลงที่ icloud ได้หรือไม่?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_39"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
								A17: ท่านสามารถจัดเก็บภาพได้ทั้งหมดได้ตลอดทุกวัน 24 ชั่วโมงใน icloud (หมายเหตุ: มีค่าใช้จ่าย)
								</p>
							</div>
						</li>
						<!--39-->

						<!--40-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_40" data-toggle="collapse" data-target="#subfaq_40" aria-expanded="false" id="brochure">
							Q18: รูปแบบไฟล์วิดีโอที่จัดเก็บจากการบันทึกของอุปกรณ์ Smart WiFi Camera เป็นรูปแบบใด?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_40"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A18: วิดีโอจะถูกจัดเก็บในรูปแบบไฟล์ MJPEG/JPEG	
								</p>
							</div>
						</li>
						<!--40-->
						<!--41-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_41" data-toggle="collapse" data-target="#subfaq_41" aria-expanded="false" id="brochure">
							Q19: อุปกรณ์ Smart WiFi Camera รองรับระบบสื่อสาร 2 ทาง (two-way communication) หรือไม่?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_41"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A19: อุปกรณ์ Smart WiFi Camera เป็นระบบ two-way communication ท่านสามารถสื่อสารกับสมาชิกในบ้านและผู้อื่นได้ไม่ว่าจะอยู่ที่ไหนผ่านทาง intercom ของอุปกรณ์ในแอพพลิเคชั่น “Lamptan Home”
								</p>
							</div>
						</li>
						<!--41-->

						<!--42-->
						<li class="li_faq_bottom">
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_42" data-toggle="collapse" data-target="#subfaq_42" aria-expanded="false" id="brochure">
							Q20: เราจะใช้หน่วยความจำในการบันทึกวิดีโอจากอุปกรณ์ Smart WiFi Camera ได้สูงสุดเท่าไหร่?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_42"  class="collapse" data-parent="#faq3">
								<p class="mb-0">
									A20: ท่านสามารถใช้หน่วยความจำ SD card ได้สูงสุดถึง 64G
								</p>
							</div>
						</li>
						<!--42-->
					</ul>
 				</div>
	        	

	        </div>
			<!--Smart Wi-Fi Camera-->
 
		    <!--Smart WiFi Socket-->
	        <div class="row mt-5">
 				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
 					<div class="text_title text_bold mb-4">Smart WiFi Socket</div>
					<ul class="ul_faq text_body" id="faq4">
						<!--43-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_43" data-toggle="collapse" data-target="#subfaq_43" aria-expanded="false" id="brochure">
							Q1: ติดตั้งอุปกรณ์ Smart WiFi Socket อย่างไร?	
								<i class="chevron fa fa-fw" id="brochure"></i>
							</div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4 collapse" id="subfaq_43"  class="collapse" data-parent="#faq4">
								<p class="mb-0">
									A1: วิธีการติดตั้งอุปกรณ์ Smart WiFi Socket สามารถปฏิบัติตามขั้นตอนดังต่อไปนี้<br>
									1. ติดตั้งแอพพลิเคชั่น “LAMPTAN HOME” ลงบนสมาร์ทโฟนของท่าน ท่านสามารถดาวน์โหลดจาก App Store ในระบบ IOS หรือ Google Play store ในระบบ Android ได้<br>
									2. เสียบปลั๊กอุปกรณ์ Smart WiFi Socket
									3. เข้าไปที่แอพพลิเคชั่น “LAMPTAN HOME” กดที่สัญลักษณ์ “+” ด้านมุมขวาบน และกดเลือกกลุ่มอุปกรณ์ประเภท “Socket” และเข้าไปเลือกที่ “Smart Wi-Fi Socket ” จากนั้นจึงกด “Next”<br>
									4. กดปุ่ม เปิด/ปิด บนอุปกรณ์ Smart WiFi Socket ค้างไว้ 6 วินาทีจนปรากฏแสงไฟสีแดงกระพริบเร็วๆ<br>
									5. ตรวจสอบให้แน่ใจว่า สทาร์ทโฟน หรือแท็บเล็ต และแอพพลิเคชั่น “LAMPTAN HOME” ทำการเชื่อมต่อกับสัญญา Wi-fi เครือข่ายเดียวกันเรียบร้อยแล้ว<br>
									6. กดเข้าเลือกที่ สัญลักษณ์การเชื่อมต่อเครือข่ายบนสมาร์ทโฟนของท่าน และเลือกที่สัญญาน “Homemate_AP” จากรายการสัญญาณเครือข่ายที่ปรากฏ จากนั้นกลับเข้าไปที่แอพพลิเคชั่น “LAMPTAN HOME” อีกครั้ง พิมพ์รหัสผ่านของเราเตอร์หรือโมเด็มอินเตอร์เน็ตของท่านลงไป จากนั้นกด “Connect”<br>
									7. รอประมาณ 60 วินาทีขณะที่แอพพลิเคชั่น “LAMPTAN HOME” ทำการค้นหาอุปกรณ์ Smart WiFi Socket<br>
									8. กด “ save” เมื่ออุปกรณ์ Smart WiFi Socket ติดตั้งสมบูรณ์แบบเรียบร้อยแล้ว ท่านสามารถใช้งานอุปกรณ์ Smart WiFi Socket ผ่านแอพพลิเคชั่น “LAMPTAN HOME” ได้ทันที
								</p>
							</div>
						</li>
						<!--43-->
						<!--44-->	
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_44" data-toggle="collapse" data-target="#subfaq_44" aria-expanded="false" id="brochure">
							Q2: เราจะทราบได้อย่างไรว่าอุปกรณ์ Smart WiFi Socket ตั้งค่าสมบูรณ์แบบเรียบร้อยแล้ว?

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_44"  class="collapse" data-parent="#faq4">
								<p class="mb-0">
								A2: หากอุปกรณ์ Smart WiFi Socket แล้วจะปรากฏแสงไฟติดค้างอยู่บนอุปกรณ์	
								</p>
							</div>
						</li>
						<!--44-->	
						<!--45-->	
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_45" data-toggle="collapse" data-target="#subfaq_45" aria-expanded="false" id="brochure">
							Q3: เราจะมีวิธีปฏิบัติอย่างไรหากการตั้งค่าอุปกรณ์ล้มเหลว?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_45"  class="collapse" data-parent="#faq4">
								<p class="mb-0">
									A3: การตั้งค่าอุปกรณ์ Smart WiFi Socket ล้มเหลวอาจเกิดได้จากหลายสาเหตุดังต่อไปนี้<br>
									1. หากท่านใช้สมาร์ทโฟนหรือแท็บเล็ตระบบ Android กรุณาตรวจสอบว่าอุปกรณ์ของท่านได้อัพเดตระบบ
									เวอร์ชั่น 2.0 หรือสูงกว่า เรียบร้อยแล้ว<br>
									2. ในขณะที่อุปกรณ์ Smart Wi-Fi Socket ทำการตั้งค่าอยู่นั้น แอพพลิเคชั่น “LAMPTAN HOME” จะพบชื่อเราเตอร์ของท่านได้โดยอัตโนมัติ หากไม่สามารถค้นพบได้ให้ตรวจสอบการเชื่อมต่อของสมาร์ทโฟนของท่านกับ Wi-Fi<br>
									3. กรุณาตรวจสอบให้แน่ใจว่าท่านป้อนรหัสผ่าน Wi-Fi ถูกต้องแล้วหรือไม่<br>
									4. กรุณาตรวจสอบให้แน่ใจว่าเราเตอร์ของท่านสามารถใช้กับสัญญาณ  wireless IEEE802.11b/g/n standard<br>
									5. กรุณาตรวจสอบให้แน่ใจว่าท่านใส่ Username ของอินเตอร์เน็ตถูกต้องแล้ว<br>
									6. กรุณาตรวจสอบให้แน่ใจว่าระบบความปลอดภัยของเราเตอร์ที่ท่านใช้คือระบบ WEP, WPA-PSK ทางเราแนะนำให้ใช้เป็นระบบ WPA/WPA2.<br>
									7. กรุณาตรวจสอบเราเตอร์ของท่านว่ามี IP ที่ว่างใช้งานได้อยู่หรือไม่ หากไม่มีให้ยกเลิกการเชื่อมต่อของสัญญาณอื่นที่ท่านใช้ แล้วลองเชื่อมต่อกับอุปกรณ์ Smart Wi-Fi Socket อีกครั้ง<br>
									8. หากไม่ใช่กรณีที่กล่าวมาทั้งหมดข้างต้นนี้ กรุณาอ่านคู่มือเพื่อทำการตั้งค่าใหม่อีกครั้ง
								</p>
							</div>
						</li>
						<!--45-->
						<!--46-->
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_46" data-toggle="collapse" data-target="#subfaq_46" aria-expanded="false" id="brochure">
							Q4: เหตุใดจึงปรากฏไฟกระพริบช้าๆบนอุปกรณ์ Smart WiFi Socket หลังจากที่ได้ทำการตั้งค่าอุปกรณ์แล้ว

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_46"  class="collapse" data-parent="#faq4">
								<p class="mb-0">
								A4: กรุณาตรวจสอบสาเหตุดังต่อไปนี้<br>
								1. กรุณาตรวจสอบว่าเราเตอร์ของท่านมีการตั้งค่าใดๆ เป็นพิเศษหรือไม่ เช่น ระบบการป้องกันความปลอดภัย
								การใส่ username และรหัสผ่าน เพื่อเชื่อมต่อสัญญาณอินเตอร์เน็ต<br>
								2. รหัสผ่านไม่ถูกต้อง<br>
								3. ระบบ DHCP ของเราเตอร์ถูกปิด<br>
								4. เราเตอร์ป้องกันการเชื่อมต่อกับสัญญาณจาก Smart WiFi socket
								</p>

							</div>
						</li>
						<!--46-->
						<!--47-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_47" data-toggle="collapse" data-target="#subfaq_47" aria-expanded="false" id="brochure">
								Q5: หากมีการเปลี่ยนอุปกรณ์ Smart WiFi socket เป็นตัวใหม่ อุปกรณ์จะเชื่อมต่อกับเราเตอร์ได้อย่างไร?

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_47"  class="collapse" data-parent="#faq4">
								<p class="mb-0">
									A5: ท่านจะต้องทำการตั้งค่า Smart WiFi socket และเราเตอร์ไร้สายอีกครั้ง

								</p>
							</div>
						</li>
						<!--47-->
						<!--48-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_48" data-toggle="collapse" data-target="#subfaq_48" aria-expanded="false" id="brochure">
								Q6: เราสามารถควบคุมอุปกรณ์ Smart WiFi socket ได้เฉพาะเมื่ออยู่ที่บ้านใช่หรือไม่?
								<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_48"  class="collapse" data-parent="#faq4">
								<p class="mb-0">
									A6: ไม่ใช่ ท่านจะสามารถควบคุมอุปกรณ์ Smart WiFi socket ได้ทุกที่ไม่ว่าท่านจะอยู่ที่ไหน เพียงแค่สมาร์ทโฟนของท่านมีสัญญาณอยู่
								</p>
							</div>
						</li>
						<!--48-->
						<!--49-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_49" data-toggle="collapse" data-target="#subfaq_49" aria-expanded="false" id="brochure">
								Q7: เหตุใดบางครั้งอุปกรณ์ Smart Cube จึงแสดงสถานะ Offline?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_49"  class="collapse" data-parent="#faq4">
								<p class="mb-0">
									A7: กรุณาตรวจสอบสัญญาณ Wi-Fi ของท่านว่ายกเลิกการเชื่อมต่ออินเตอร์เน็ตหรือไม่สามารถเชื่อมต่อได้ หรือไม่ และลองทำการเปิดเครื่องเราเตอร์ใหม่อีกครั้ง
								</p>
			
							</div>
						</li>
						<!--49-->
						<!--50-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_50" data-toggle="collapse" data-target="#subfaq_50" aria-expanded="false" id="brochure">
							Q8: อุปกรณ์เครื่องใช้ในบ้านประเภทใดบ้างที่จะสามารถใช้งานร่วมกับ Smart WiFi socketไดั?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_50"  class="collapse" data-parent="#faq4">
								<p class="mb-0">A8: ท่านสามารถใช้อุปกรณ์ Smart Wi-Fi socke ได้กับเครื่องใช้ไฟฟ้าในบ้านที่ใช้กระแสไฟ 10A</p>

							</div>
						</li>
						<!--50-->
						<!--51-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_51" data-toggle="collapse" data-target="#subfaq_51" aria-expanded="false" id="brochure">
							Q9: สถานการณ์ทำงานของ Smart Wi-Fi socket ที่ปรากฏบนแอพพลิเคชั่นสามารถเชื่อถือได้หรอไม่?

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_51"  class="collapse" data-parent="#faq4">
								<p class="mb-0">A9: ท่านสามารถเชื่อถือได้ เพราะแอพพลิเคชั่น “Lamptan Home” สนับสนุนการสะท้อนสัญญาณไป-กลับแบบ 2 ทาง จากอุปกรณ์ Smart Wi-Fi socket</p>
							</div>
						</li>
						<!--51-->
						<!--52-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_52" data-toggle="collapse" data-target="#subfaq_52" aria-expanded="false" id="brochure">
								Q10: เราจะสามารถควบคุมอุปกรณ์ Smart WiFi socket พร้อมกันหลายชิ้นได้ในเวลาเดียวกันหรือไม่
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_52"  class="collapse" data-parent="#faq4">
								<p class="mb-0">A10: ท่านสามารถควบคุมอุปกรณ์ Smart WiFi socket พร้อมกันหลายชิ้นในเวลาเดียวกันได้</p>
							</div>
						</li>
						<!--52-->
						<!--53-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_53" data-toggle="collapse" data-target="#subfaq_53" aria-expanded="false" id="brochure">
							Q11: เราจะสามารถจำแนกอุปกรณ์ Smart WiFi socket ได้อย่างไร หากใช้ร่วมกันหลายชิ้น?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_53"  class="collapse" data-parent="#faq4">
								<p class="mb-0">A11: ท่านสามารถตั้งชื่ออุปกรณ์ Smart WiFi socket ของท่านแต่ละอันลงในแอพพลิเคชั่น “Lamptan Home” ได้
								</p>
							</div>
						</li>
						<!--53-->
						<!--54-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_54" data-toggle="collapse" data-target="#subfaq_54" aria-expanded="false" id="brochure">Q12: เราจะใช่โหมดการตั้งเวลาได้สูงสุดกี่ช่วงเวลา?

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_54"  class="collapse" data-parent="#faq4">
								<p class="mb-0">A12: Smart WiFi socket 1 อัน จะตั้งเวลาได้สูงสุด 15 ช่วงเวลา</p>
							</div>
						</li>
						<!--54-->
						<!--55-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_55" data-toggle="collapse" data-target="#subfaq_55" aria-expanded="false" id="brochure">Q13: เหตุใดเมื่อทำการเข้าโหมดตั้งเวลาแล้วระบบจึงไม่ทำงาน?
					
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_55"  class="collapse" data-parent="#faq4">
								<p class="mb-0">A13: Smart WiFi socket จะประมวลผลข้อมูลเวลาผ่านสัญญาณเครือข่ายอินเตอร์เน็ต หากเราเตอร์ของท่านไม่ได้เชื่อมต่อกับสัญญาณอินเตอร์เน็ท Smart WiFi socket จะไม่สามารถอ่านข้อมูลเวลาได้ถูกต้อง ระบบการจัดการเวลาจึงล้มเหลว</p>
							</div>
						</li>
						<!--55-->
						<!--56-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_56" data-toggle="collapse" data-target="#subfaq_56" aria-expanded="false" id="brochure">Q14: เราจะตั้งค่าการตั้งเวลาและการนับถอยหลังเวลาได้อย่างไร?

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_56"  class="collapse" data-parent="#faq4">
								<p class="mb-0">A14: วิธีการตั้งค่าสามารถทำได้ตามขั้นตอนดังต่อไปนี้<br>
								1. กรุณาเชื่อมต่อสมาร์ทโฟนหรือแท็บเล็ตชองท่านเข้ากับเราเตอร์หรือโมเด็มที่เชื่อมต่อสัญญาณอินเตอร์เน็ทเครือข่ายเดียวกัน<br>
								2. กดเลือก “ Add timer or countdown”<br>
								3. กดเลือก “Timer” จากนั้นให้คลิกเข้าไปที่ “Add a Timer” เพื่อตั้งค่าโปรแกรมการเปิด/ปิดอุปกรณ์แบบระยะเวลา 7 วัน ท่านสามารถเลือกตั้งโปรแกรมเวลาได้สูงสุดถึง 20 โปรแกรม จากนั้นใหักด “save” หลังจากที่ท่านได้เลือกตั้งเวลาเรียบร้อยแล้ว<br>
								4. หากต้องการตั้งเวลาในโหมด “Countdown” ให้ท่านกดเลือก “Countdown” เพื่อจะนับถอยหลังให้เปิดหรือปิด
								อุปกรณ์ Smart Wi-Fi socket ในโหมดการตั้งค่า นับถอยหลังเพื่อ”เปิด”อุปกรณ์ กรุณาตรวจสอบให้แน่ใจว่า
								อุปกรณ์ Smart Wi-Fi socket ของท่านปิดอยู่ และสำหรับโหมดการตั้งค่า นับถอยหลังเพื่อ”ปิด” อุปกรณ์ กรุณาตรวจสอบให้แน่ใจว่าอุปกรณ์ Smart Wi-Fi socket ของท่านเปิดใช้งานอยู่กดเลือก “Countdown” และคลิกทื่ “Add Countdown” เพื่อตั้งค่าโปรแกรมนับถอยหลังเปิด/ปิดได้แบบ 24 ชั่วโมง จากนั้นให้กด “save” เมื่อท่านได้ตั้งค่าการนับถอยหลังเรียบร้อยแล้ว
								</p>
							</div>
						</li>
						<!--56-->
						<!--57-->
						<li class="li_faq_bottom">
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_57" data-toggle="collapse" data-target="#subfaq_57" aria-expanded="false" id="brochure">Q15: เราจะมีวิธีการแก้ไขอย่างไรหากการตั้งค่าอุปกรณ์ Smart WiFi socket ล้มเหลวและปรากฏแสงไฟกระพริบเร็วๆบนอุปกรณ์?

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_57"  class="collapse" data-parent="#faq4">
								<p class="mb-0">A15: ให้ท่านถอดปลั๊ก Smart Wi-Fi socket ออกจากเต้าเสียบหลัก รอประมาณ 1 นาที และลองทำการติดตั้งตามวิธีการติดตั้งด้านบนอีกครั้ง</p>
							</div>
						</li>
						<!--53-->
					</ul>
 				</div>
	        	

	        </div>
	        <!--Smart WiFi Socket-->


	          <!--Smart Zigbee Minihub-->
	        <div class="row mt-5">
 				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
 					<div class="text_title text_bold mb-4">Zigbee Minihub</div>
					<ul class="ul_faq text_body" id="faq5">
						<!--58-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_58" data-toggle="collapse" data-target="#subfaq_58" aria-expanded="false" id="brochure">
								Q1: ติดตั้งอุปกรณ์ Zigbee Minihub อย่างไร?
								<i class="chevron fa fa-fw" id="brochure"></i>
							</div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4 collapse" id="subfaq_58" class="collapse" data-parent="#faq5">
								<p class="mb-0">
									A1: วิธีการติดตั้งอุปกรณ์ Zigbee Minihub สามารถปฏิบัติตามขั้นตอนดังต่อไปนี้<br>
									1. ติดตั้งแอพพลิเคชั่น “LAMPTAN HOME” ลงบนสมาร์ทโฟนของท่าน ท่านสามารถดาว์นโหลดจาก App Store ใน
									ระบบ IOS หรือ Google Play store ในระบบ Android ได้<br>
									2. เปิดอุปกรณ์ Zigbee Minihub และทำการเชื่อมต่อทั้งสมาร์ทโฟนของท่านและ Zigbee Minihub เข้ากับเราเตอร์เครื่องเดียวกัน<br>
									3. เข้าไปที่แอพพลิเคชั่น “LAMPTAN HOME” กดที่สัญลักษณ์ “+” ด้านมุมขวาบน และกดเลือกกลุ่มอุปกรณ์ประเภท “Smart Hub” และเข้าไปเลือกที่ “Zigbee Minihub” จากนั้นจึงกด “Start to add”<br>
									4. รอแอพพลิเคชั่น “LAMPTAN HOME” กำลังค้นหาสัญญาณของอุปกรณ์ ZigbeeMinihub เมื่อพบแล้วให้กดที่
									ปุ่ม “Add”<br>
									5. กด “ save” เมื่ออุปกรณ์ Zigbee Minihub ติดตั้งสมบูรณ์แบบเรียบร้อยแล้ว และเริ่มกดเพิ่มอุปกรณ์ที่ใช้
									สัญญาณ Zigbee อื่นๆของท่านลงไปได้
								</p>
							</div>
						</li>
						<!--58-->
						<!--59-->	
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_59" data-toggle="collapse" data-target="#subfaq_59" aria-expanded="false" id="brochure">Q2: เราจะทราบได้อย่างไรว่าอุปกรณ์ Zigbee Minihub ตั้งค่าสมบูรณ์แบบเรียบร้อยแล้ว?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_59" class="collapse" data-parent="#faq5">
								<p class="mb-0">
									A2: ท่านสามารถกดเข้าไปที่ “Me” ในแอพพลิเคชั่น “LAMPTAN HOME” และค้นหาอุปกรณ์ Zigbee Minihub ในหน้าที่ปรากฏคำว่า “My hub”

								</p>
							</div>
						</li>
						<!--59-->	
						<!--60-->	
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_60" data-toggle="collapse" data-target="#subfaq_60" aria-expanded="false" id="brochure">
								Q3: เราจะมีวิธีปฏิบัติอย่างไรหากการตั้งค่าอุปกรณ์ล้มเหลว?

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_60" class="collapse" data-parent="#faq5">
								<p class="mb-0">
									A3: การตั้งค่าอุปกรณ์ Zigbee Minihub ล้มเหลวอาจเกิดได้จากหลายสาเหตุดังต่อไปนี้<br>
									1. กรุณาตรวจสอบให้แน่ใจว่าเราเตอร์ของท่านสามารถใช้กับสัญญาณ wireless IEEE802.11b/g/n standard<br>
									2. กรุณาตรวจสอบให้แน่ใจว่าระบบความปลอดภัยของเราเตอร์ที่ท่านใช้คือระบบ WEP, WPA-PSK ทางเราแนะนำให้ใช้เป็นระบบ WPA/WPA2.<br>
									3. กรุณาตรวจสอบว่าเราเตอร์เป็นแบบ 2.4G และเปิดระบบ DHCP<br>
									4. กรุณาตรวจสอบอุปกรณ์ Zigbee Minihub ของท่านว่าเปิดเรียบร้อยและเชื่อมต่อเรียบร้อยกับสัญญาณอินเตอร์เน็ตแล้วหรือไม่<br>
									5. กรุณาตรวจสอบว่าสมาร์ทโฟนและ Zigbee Mnihub ได้เชื่อมต่อเข้ากับเราเตอร์เครื่องเดียวกันแล้ว<br>
									6. กรุณาตรวจสอบว่าท่านได้กดเพิ่มอุปกรณ์ Zigbee Minihub ของท่านในบัญชีผู้ใช้อื่นหรือไม่<br>
									7. หากไม่ใช่กรณีที่กล่าวมาทั้งหมดข้างต้นนี้ กรุณาอ่านคู่มือเพื่อทำการตั้งค่าใหม่อีกครั้ง

								</p>
							</div>
						</li>
						<!--60-->
						<!--61-->
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_61" data-toggle="collapse" data-target="#subfaq_61" aria-expanded="false" id="brochure">
								Q4: เหตุใดจึงปรากฏไฟกระพริบถี่ๆบนอุปกรณ์ Zigbee Minihubหลังจากที่ได้ทำการตั้งค่าอุปกรณ์แล้ว
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_61"  class="collapse" data-parent="#faq5">
								<p class="mb-0">
									A4: หากพบไฟกะพริบถี่ๆ บนอุปกรณ์ Zigbee Minihub แสดงถึงการอัพเดตระบบ ให้ท่านเปิดอุปกรณ์ทิ้งไว้ 5 นาที
								</p>

							</div>
						</li>
						<!--61-->
						<!--62-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_62" data-toggle="collapse" data-target="#subfaq_62" aria-expanded="false" id="brochure">
								Q5: หากมีการเปลี่ยนอุปกรณ์ Zigbee Minihubเป็นตัวใหม่ อุปกรณ์จะเชื่อมต่อกับเราเตอร์ได้อย่างไร?

							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_62"  class="collapse" data-parent="#faq5">
								<p class="mb-0">
									A5: กรุณาเชื่อมต่อ Zigbee Minihub เข้ากับเราเตอร์เครื่องใหม่ด้วยสาย LAN ที่ให้มาในกล่องอุปกรณ์ จากนั้นจึงทำการเปิดเครื่อง Zigbee Minihub ระบบจะทำการเชื่อมต่อเข้าสู่อินเตอร์เน็ตได้ด้วยตนเอง
								</p>
							</div>
						</li>
						<!--62-->
						<!--63-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_63" data-toggle="collapse" data-target="#subfaq_63" aria-expanded="false" id="brochure">
								Q6: เราสามารถเชื่อมต่ออุปกรณ์ที่ใช้สัญญาณ Zigbee เข้ากับ Zigbee Minihub ได้สูงสุดกี่อุปกรณ์?
								<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_63"  class="collapse" data-parent="#faq5">
								<p class="mb-0">
									A6: ท่านสามารถเชื่อมต่ออุปกรณ์ที่ใช้สัญญาณ Zigbee เข้ากับ Zigbee Minihub ได้สูงสุดถึง 50 อุปกรณ์
								</p>
							</div>
						</li>
						<!--63-->
						<!--64-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_64" data-toggle="collapse" data-target="#subfaq_64" aria-expanded="false" id="brochure">
								Q7: เราจะกลับคืนค่าอุปกรณ์สู่ค่าเริ่มต้นได้อย่างไร?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_64"  class="collapse" data-parent="#faq5">
								<p class="mb-0">
									A7: กดปุ่ม power บนอุปกรณ์ Zigbee Minihub ค้างไว้ 6 วินาที แสงสีเขียวบนอุปกรณ์จะดับลงให้ท่านรอประมาณ 1 นาที จนกว่าจะปรากฏแสงไฟขึ้นมาบนอุปกรณ์อีกครั้ง นั้นหมายความว่า Zigbee Minihub ของท่านได้ คืนค่ากลับสู่ค่าเริ่มต้นเรียบร้อยแล้ว
								</p>
			
							</div>
						</li>
						<!--64-->
						<!--65-->
						<li>
							<div class="pointer product_details product_details text_bold head_faq collapsed" id="mfaq_65" data-toggle="collapse" data-target="#subfaq_65" aria-expanded="false" id="brochure">
								Q8: แสงไฟที่ปรากฏบนอุปกรณ์ Zigbee Minihub แสดงถึงสถานะใดของอุปกรณ์ได้บ้าง?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_65"  class="collapse" data-parent="#faq5">
								<p class="mb-0">
									A8: - ไฟติดค้าง แสดงถึง อุปกรณ์ทำงานได้ปกติ<br>
- ไฟกระพริบ 1 ครั้ง แสดงถึง อุปกรณ์ Zigbee 1 ชิ้นทำงานและมีการเชื่อมต่อกับ Zigbee Minihub<br>
- ไฟกะพริบช้าๆ แสดงถึง อุปกรณ์ Zigbee Minihub กำลังทำการค้นหาสัญญาณ

								</p>
							</div>
						</li>
						<!--65-->
						<!--66-->
						<li>
							<div class="pointer product_details product_details text_bold head_faq collapsed" id="mfaq_66" data-toggle="collapse" data-target="#subfaq_66" aria-expanded="false" id="brochure">
								Q9: เราจะต้องใช้อุปกรณ์ Zigbee Minihub กี่เครื่องต่อบ้านหนึ่งหลัง?
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_66"  class="collapse" data-parent="#faq5">
								<p class="mb-0">
									A9: 1 เครื่อง
								</p>
							</div>
						</li>
						<!--66-->
						<!--67-->
						<li class="li_faq_bottom">
							<div class="pointer product_details product_details text_bold head_faq collapsed" id="mfaq_67" data-toggle="collapse" data-target="#subfaq_67" aria-expanded="false" id="brochure">
								Q10: เราจะสามารถตั้งค่า Time Zone ได้อย่างไร
							<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_67"  class="collapse" data-parent="#faq5">
								<p class="mb-0">
								A10: ยินยอมให้แอพพลิเคชั่น “LAMPTAN HOME” เข้าถึงการใช้ GPS บนสมาร์ทโฟนของท่าน หลังจากนั้นกดรีเซ็ท Zigbee Minihub และทำการเชื่อมต่อกับแอพพลิเคชั่น “LAMPTAN HOME”อีกครั้ง
	
								</p>
							</div>
						</li>
						<!--67-->
					</ul>
 				</div>
	        	

	        </div>
	        <!--Smart Zigbee Minihub-->
		</div>
					

		
		<!--body-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

		<script type="text/javascript">
			var oldId;

			$('.head_faq').click(function() {
				$('#'+oldId).removeClass("text_orange");
				$('#'+this.id).addClass("text_orange");
				oldId = this.id;
			});
		</script>
			

   <%= render partial: 'footer/footer' %>
<%= javascript_include_tag "index", "data-turbolinks-track" => true  %>
</body>
</html>