<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<html>
<head data-hook="inside_head">

  <%= favicon_link_tag 'favicon.ico' %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- Bootstrap CSS -->
  <meta name="description" content="My custom spree store">
  <title><%= content_for?(:title) ? yield(:title) : "My title" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'spree/frontend/all' %>
 
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
  <%= stylesheet_link_tag "index" %>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

      <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Avenir' %>

  <style>
  body{
    font-family: 'Avenir', serif !important;
  }
  </style>

</head>

<body>
  <%= render partial: 'header/header' %>


			<div class="container ">

	        <div class="row">
	            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 d-flex justify-content-center">
	              <div class="about_txt_title text-uppercase  ">
	                FAQ
	              <hr/>
	              </div>
	            </div>
	        </div>
             <!--Smart Cube-->
	        <div class="row mt-5">
 				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
 					<div class="text_title text_bold mb-4">Smart Cube</div>
					<ul class="ul_faq text_body" id="faq">
						<!--1-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_1" data-toggle="collapse" data-target="#subfaq_1" aria-expanded="false" id="brochure">Q1: ติดตั้งอุปกรณ์ Smart cube อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							
							<div class="mt-lg-3 mb-lg-5  mb-sm-4 collapse" id="subfaq_1"  class="collapse" data-parent="#faq">
							<p class="mb-0">A1: วิธีการติดตั้งอุปกรณ์ Smart Cube สามารถปฏิบัติตามขนตอนดังต่อไปนี้ <br>
								1. ติดตั้งแอพพลิเคชั่น “LAMPTAN HOME” ลงบนสมาร์ทโฟนของท่าน ท่านสามารถดาวน์โหลดจาก App Store ในระบบ IOS หรือ Google Play store ในระบบ Android ได้<br>
								2. เปิดอุปกรณ์ Smart Cube โดยกดปุ่มด้านบนอุปกรณ์ค้างไว้ 6 วินาที จนปรากฏแสงไฟสีแดงกระพริบเร็วๆบนอุปกรณ์<br>
								3. เข้าไปที่แอพลิเคชั่น “LAMPTAN HOME” กดที่สัญลักษณ์ “+” ด้านมุมขวาบน และกดเลือกกลุ่มอุปกรณ์ประเภท
								“Remote” และเขาไปเลือกที่ “Magic Cube” จากนั้นจึงกด “next”<br>
								4.กดเข้าเลือกที่ สัญลักษณ์การเชื่อมต่อเครือข่ายบนสมาร์ทโฟนของท่าน และเลือกที่สัญญาน “Homemate_AP” จาก
								รายการสัญญาณเครือข่ายที่ปรากฏ จากนั้นกลับเขาไปที่แอพพลิเคชั่น “LAMPTAN HOME” อีกครั้ง พิมพร์รหัสผ่านของเราเตอร์หรือโมเดมอินเตอร์เนตของท่านลงไป จากนั้นกด “Connect”<br>
								5. รอประมาณ 60 วินาที ในขณะที่แอพพลิเคชั่น “LAMPTAN HOME” กำลังค้นหาสัญญาณของอุปกรณ์ Smart Cube<br>
								6. กด “ save” เมื่ออุปกรณ์ Smart Cube ติดตั้งสมบูรณ์แบบเรียบร้อยแล้ว และเริ่มกดเพิ่มอุปกรณ์รีโมทของท่านลงไปได้</p>
							</div>
						</li>
						<!--1-->
						<!--2-->	
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_2" data-toggle="collapse" data-target="#subfaq_2" aria-expanded="false" id="brochure">Q2: เราจะทราบได้อย่างไรว่าอุปกรณ์ Smart Cube ตั้งค่าสมบูรณ์แบบเรียบร้อยแล้ว?<i class="chevron fa fa-fw" id="brochure"></i></div>

							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_2"  class="collapse" data-parent="#faq">
							<p class="mb-0">A2: หากอุปกรณ์ Smart Cube ทำการตั้งค่าอย่างสมบูรณ์แบบแล้วจะปรากฏแสงไฟสีฟ้าบนอุปกรณ์ของท่าน</p>
							</div>
						</li>
						<!--2-->	
						<!--3-->	
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_3" data-toggle="collapse" data-target="#subfaq_3" aria-expanded="false" id="brochure">Q3: เราจะมีวิธีปฏิบัติอย่างไรหากการตั้งค่าอุปกรณ์ล้มเหลว?<i class="chevron fa fa-fw" id="brochure"></i></div>

						
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_3"  class="collapse" data-parent="#faq">
							<p class="mb-0">A3: การตั้งค่าอุปกรณ์ Smart Cube ล้มเหลวอาจเกิดได้จากหลายสาเหตุดังต่อไปนี้<br>
							1. กรุณาตรวจสอบให้แน่ใจว่าเราเตอร์ของท่านสามารถใช้กับสัญญาณ wireless IEEE802.11b/g/n standard<br>
							2. กรุณาตรวจสอบให้แน่ใจว่าระบบความปลอดภัยของเราเตอร์ที่ท่านใช้คือระบบ WEP, WPA-PSK ทางเราแนะนำให้ใช้
							เป็นระบบ WPA/WPA2.<br>
							3. กรุณาตรวจสอบว่าเราเตอร์เป็นแบบ 2.4G และเปิดระบบ DHCP<br>
							4. กรุณาตรวจสอบอุปกรณ์ Smart Cube ปรากฏแสงไฟสีแดงกระพริบเมื่อท่านได้ทำการกดเพิ่มอุปกรณ์ลงไป<br>
							5. กรุณาตรวจสอบว่าเราเตอร์ของท่านได้เชื่อมต่อกับสัญญาณอินเตอร์เน็ตเรียบร้อยแล้ว<br>
							6. กรุณาตรวจสอบว่าท่านได้ป้อนรหัสผ่านได้ถูกต้อง<br>
							7. หากไม่ใช่กรณีที่กล่าวมาทั้งหมดข้างต้นนี้ กรุณาอ่านคู่มือเพื่อทำการตั้งค่าใหม่อีกครั้ง </p>
							</div>
						</li>
						<!--3-->
						<!--4-->
						<li>	
							

							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_4" data-toggle="collapse" data-target="#subfaq_4" aria-expanded="false" id="brochure">Q4: เหตุใดจงปรากฏไฟกระพริบช้าๆบนอุปกรณ์ Smart Cube หลังจากที่ได้ทำการตั้งค่าอุปกรณ์แล้ว<i class="chevron fa fa-fw" id="brochure"></i></div>


							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_4"  class="collapse" data-parent="#faq">
							<p class="mb-0">A4: กรุณาตรวจสอบสาเหตุดังต่อไปนี้<br>
							1. กรุณาตรวจสอบว่าเราเตอร์ของท่านมีการตั้งค่าใดๆเป็นพิเศษหรือไม่ เช่น ระบบการป้องกันความปลอดภัย
							การใส่ username และรหัสผ่าน เพื่อเชื่อมต่อสัญญาณอินเตอร์เน็ต<br>
							2. รหัสผ่านไม่ถูกต้อง<br>
							3. ระบบ DHCP ของเราเตอร์ถูกปิด<br>
							4. เราเตอร์ป้องกันการเชื่อมต่อกับสัญญาณจาก Smart Cube
							</p>
							</div>
						</li>
						<!--4-->
						<!--5-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_5" data-toggle="collapse" data-target="#subfaq_5" aria-expanded="false" id="brochure">Q5: หากมีการเปลี่ยนอุปกรณ์ Smart Cube เป็นตัวใหม่ อุปกรณ์จะเชื่อมต่อกับเราเตอร์ได้อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_5"  class="collapse" data-parent="#faq">
							<p class="mb-0">A5: กรุณาตั้งค่า Smart Cube และ เราเตอร์ไร้สายใหม่อีกครั้ง</p>
							</div>
						</li>
						<!--5-->
						<!--6-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_6" data-toggle="collapse" data-target="#subfaq_6" aria-expanded="false" id="brochure">Q6: เราสามารถควบคุมอุปกรณ์ Smart Cube ได้เฉพาะเมื่ออยู่ที่บ้านใช่หรือไม่?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_6"  class="collapse" data-parent="#faq">
							<p class="mb-0">A6: ไม่ใช่ ท่านจะสามารถควบคุมอุปกรณ์ Smart Cube ได้ทุกที่ไม่ว่าท่านจะอยู่ที่ไหน เพียงแค่สมาร์ทโฟนของท่านมีสัญญาณอยู่</p>
							</div>
						</li>
						<!--6-->
						<!--7-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_7" data-toggle="collapse" data-target="#subfaq_7" aria-expanded="false" id="brochure">Q7: เหตุใดบางครั้งอุปกรณ์ Smart Cube จงแสดงสถานะ Offline?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_7"  class="collapse" data-parent="#faq">
							<p class="mb-0">A7: กรุณาตรวจสอบสัญญาณ Wi-Fi ของท่านว่ายกเลิกการเชื่อมต่ออินเตอร์เนตหรือไม่สามารถเชื่อมต่อได้ หรือไม่ และลอง
							ทำการเปิดเครื่องเราเตอร์ใหม่อีกครั้ง</p>
							</div>
						</li>
						<!--7-->
						<!--8-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_8" data-toggle="collapse" data-target="#subfaq_8" aria-expanded="false" id="brochure">
							Q8: อุปกรณ์เครื่องใช้ในบ้านประเภทใดบางที่จะสามารถบนทกสญญาณเขากบ Smart Cube ได้?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_8"  class="collapse" data-parent="#faq">
							<p class="mb-0">A8: ท่านสามารถใช้อุปกรณ์ Smart cube ได้กับทุกๆเครื่องใช้ไฟฟ้าในบ้านที่มีรีโมทคอนโทรล อาทิเช่น โทรทัศน์ พัดลม
							เครื่องปรับอากาศ ลำโพง กล่องสัญญาณเคเบิล เป็นต้น</p>
							</div>
						</li>
						<!--8-->
						<!--9-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_9" data-toggle="collapse" data-target="#subfaq_9" aria-expanded="false" id="brochure">Q9: เราจะสามารถควบคุมอุปกรณ์ไฟฟ้าพร้อมกันหลายชิ้นได้ในเวลาเดียวกันหรือไม่?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_9"  class="collapse" data-parent="#faq">
							<p class="mb-0">A9: ท่านสามารถควบคุมอุปกรณ์ไฟฟ้าพร้อมกันหลายชิ้นในเวลาเดียวกันได้</p>
							</div>
						</li>
						<!--9-->
						<!--10-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_10" data-toggle="collapse" data-target="#subfaq_10" aria-expanded="false" id="brochure">Q10: เราจะสามารถกดเพิ่มอุปกรณ์รีโมทคอนโทรเพื่อบันทึกลงใน Smart Cube ได้อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_10"  class="collapse" data-parent="#faq">
							<p class="mb-0">A10: เข้าแอพพลิเคชั่น “LAMPTAN HOME” และกดเลือกที่ Smart Cube จากนั้นกดที่ “Add remote control” จะปรากฏ
							รายการอุปกรณ์เครื่องใช้ไฟฟ้าขึ้นมาบนหน้าจอ ให้ท่านกดเลือกเพิ่มอุปกรณ์ที่ต้องการ และเลือกยี่ห้ออุปกรณ์ของขั้นในลำดับต่อไป จากนั้นระบบจะทำการจับสัญญาณรีโมทของอุปกรณ์นั้นๆที่ท่านเลือกเพื่อบันทึกลงใน Smart Cube</p>
						    </div>
						</li>
						<!--10-->
						<!--11-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_11" data-toggle="collapse" data-target="#subfaq_11" aria-expanded="false" id="brochure">Q11: เราจะสามารถเพิ่มโหมดการตั้งเวลาได้อย่างไร ?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_11"  class="collapse" data-parent="#faq">
							<p class="mb-0">A11: กรุณากดเลือกสัญลักษณ์ “. . . ” บนหน้ารีโมทคอนโทรลบนแอพพลิเคชั่น “LAMPTAN HOME” เข้าสู่หน้าการตั้งค่า จะพบคำว่า “Timer” ให้ท่านกดเลือกเพื่อเพิ่มโหมดการตั้งเวลาของอุปกรณ์ลงไป</p>
							</div>
						</li>
						<!--11-->
						<!--12-->
						<li class="li_faq_bottom">
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_12" data-toggle="collapse" data-target="#subfaq_12" aria-expanded="false" id="brochure">Q12: หากเครื่องใช้ไฟฟ้าของเราไม่ได้ปรากฏยี่ห้อตามที่แอพพลิเคชั่นให้มาจะมีวิธีการบันทึกสัญญาณรีโมทลงใน Smart Cube ได้อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_12"  class="collapse" data-parent="#faq">
							<p class="mb-0">A12: ท่านสามารถทำการเพิ่มรีโมทได้โดยการตั้งค่าสัญญาณแบบบันทึกทีละปุ่ม เพื่อกำหนดว่าฟังก์ชั่นการทำงานของแต่ละปุ่มจะเป็นอย่างไร อุปกรณ์ Smart Cube จะบันทึกและรับสัญญาณ IR ของรีโมทเครื่องใช้ไฟฟ้าทีละปุ่มตามที่ท่านจูนเข้าไป</p>
							</div>
						</li>
						<!--12-->
					</ul>
 				</div>
	        </div>
			<!--Smart Cube-->

			<!--Smart Door & Window Sensor-->
			<div class="row mt-5">
 				<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
 					<div class="text_title text_bold mb-4">Smart Door & Window Sensor</div>
					<ul class="ul_faq text_body" id="faq2">
						<!--13-->
						<li>

							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_13" data-toggle="collapse" data-target="#subfaq_13" aria-expanded="false" id="brochure">Q1: ติดตั้งอุปกรณ์อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_17"  class="collapse" data-parent="#faq2">

							
							<div class="mt-lg-3 mb-lg-5  mb-sm-4 collapse" id="subfaq_13"  class="collapse" data-parent="#faq2">
								<p class="mb-0">A1: วิธีการติดตั้งปฏิบัติตามขั้นตอนดังต่อไปนี้:<br>
								1) ใส่แบตเตอร์เขาไปในอุปกรณ์ Smart Door & Window Sensor จะปรากฏแสงไฟ ‘สีเขียว’ กะพริบช้าๆบนอุปกรณ์<br>
								2) เปิดอุปกรณ์ Zigbee mini Hub และเชื่อมต่อกับเครื่องกระจายสัญญาณ (Router) ของท่าน<br>
								3) กดคลิกทีแอพพลิเคชั่น ‘lamptan home ‘ บนสมาร์ทโฟนของท่าน จะพบสัญลักษณ์ ‘+’ ที่มุมขวาด้านบน กดเลือก และ
								เขาไปเลือกที่หมวดอุปกรณ์ ‘Sensor’ คลิก
								เขาไปและกดเลือก ‘Smart Door & Window Sensor’ จากนั้นกดที่ ‘Next’<br>
								4) รอประมาณ 60 วินาทีเพื่อให้ แอพพลิเคชั่น ‘Lamptan Home’ ค้นหาอุปกรณ์ Sensor ของท่าน<br>
								5) เมื่อพบอุปกรณ์แล้วให้กด ‘save’ เสมอ เพื่อบันทึกอุปกรณ์ที่เลือกลงในแอพพลิเคชั่น
								</p>
							</div>
						</li>
						<!--13-->
						<!--14-->	
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_14" data-toggle="collapse" data-target="#subfaq_14" aria-expanded="false" id="brochure">Q2: เราจะทราบได้อย่างไรว่าอุปกรณ์Smart Door & Window Sensor ได้กำหนดค่าการใช้งานเสร็จสมบูรณ์แล้ว?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_17"  class="collapse" data-parent="#faq2">


							
							<div class="mt-lg-3 mb-lg-5 mb-sm-4 collapse" id="subfaq_14"  class="collapse" data-parent="#faq2">
							<p class="mb-0">A2: ท่านสามารถเขาไปที่หน้า ‘security’ ในแอพพลิเคชั่น ‘LAMPTAN HOME’ เพื่อตรวจสอบได้ว่าอุปกรณ์ Smart Door & Window Sensor ได้ทำการติดตั้งแล้วหรือไม่ หากติดตั้งแล้วจะพบอุปกรณ์ปรากฏอยู่ในหน้า security ของท่าน
							</p>
							</div>
						</li>
						<!--14-->	
						<!--15-->	
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_15" data-toggle="collapse" data-target="#subfaq_15" aria-expanded="false" id="brochure">Q3: เราจะมีวิธีการแก้ไขอย่างไร หากการตั้งค่าอุปกรณ์ล้มเหลว?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_17"  class="collapse" data-parent="#faq2">

							
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_15"  class="collapse" data-parent="#faq2">
								<p class="mb-0">A3: วิธีการแก้ไขมีหลายวิธีดังต่อไปนี้ <br>
									1. ตรวจสอบให้แน่ชัดว่า ปรากฏแสงไฟสีเขียวกระพริบช้าๆบนอุปกรณ์ในขณะที่เชื่อมต่ออุปกรณ์ Door/Window sensorvกับ Zigbee Minihub<br>
									2. ติดตั้งอุปกรณ์ Smart Door & Window Sensor ให้อยู่ในระยะใกล้กับ Zigbee minihub ยิ่งขึ้น <br>
									3. กดปุ่มบนอุปกรณ์ Smart Door & Window Sensor ค้างไว้ 6 วินาที จนปรากฏแสงไฟสีเขียวกระพริบถี่ๆ บนอุปกรณ์จากนั้นแสงไฟจะดับลงใน 3 วินาที กดปุ่มเดิมซ้ำอีกครั้ง จะปรากฏแสงไฟสีเขียวกระพริบช้าๆ ท่านจึงสามารถลองเชื่อมต่อ
									อุปกรณ์ Smart Door & Window Sensor กับ Zigbee Minihub อีกครั้ง<br>
									4. ตรวจสอบอีกครั้งว่า Zigbee Minihub ของท่านสามารถเชื่อมต่อกับเครื่อข่ายอินเตอร์เน็ตได้หรือไม่<br>
									5. ในขณะที่ Zigbee Minihub ทำการค้นหาอุปกรณ์ Door/window sensor จะต้องปรากฏแสงไฟสีเขียวกระพริบบน
									อุปกรณ์ Zigbee Minihub เช่นกัน<br>
									6. หากไม่สามารถแก้ไขได้ กรุณาอ่านที่หนังสือคู่มือการใช้อีกครั้ง เพื่อที่การตั้งค่าอุปกรณ์<br>
								</p>
							</div>
						</li>
						<!--15-->
						<!--16-->
						<li>	
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_16" data-toggle="collapse" data-target="#subfaq_16" aria-expanded="false" id="brochure">Q4: ทำไมจึงปรากฏคำว่า ‘offline’ ขึ้นบนแอพพลิชั่น LAMPTAN HOME ในบางครั้งแม้จะทำการเชื่อมต่อ Smart Door & Window Sensor เรียบร้อยแล้ว?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_17"  class="collapse" data-parent="#faq2">


							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_16"  class="collapse" data-parent="#faq2">
								<p class="mb-0">A4: สัญลักษณ์ offline อาจปรากฏขึ้นได้จากสาเหตุดังต่อไปนี้<br>
								1. แบตเตอรี่หมด<br>
								2. อุปกรณ์Smart Door & Window Sensor ติดตั้งอยู่นอกระยะสัญญาณ Zigbee Minihub<br>
								3. Zigbee Minihub อาจไม่ได้เชื่อมต่อกับสัญญานอินเตอร์เน็ต
								</p>
							</div>
						</li>
						<!--16-->
						<!--17-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_17" data-toggle="collapse" data-target="#subfaq_17" aria-expanded="false" id="brochure">Q5: หากมีSmart Door & Window Sensor เครื่องใหม่จะทำการตั้งค่าอย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_17"  class="collapse" data-parent="#faq2">
								<p class="mb-0">A5: ทำการตั้งค่า Smart Door & Window Sensor และ Zigbee Minihub ทั้งหมดใหม่อีกครั้ง</p>
							</div>
						</li>
						<!--17-->
						<!--18-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_18" data-toggle="collapse" data-target="#subfaq_18" aria-expanded="false" id="brochure">Q6: เราจะสามารถติดตั้งอุปกรณ์Smart Door & Window Sensor สูงสุดได้ทงั้หมดกี่เครื่องต่อ Zigbee Minihub เครื่องเนื่องจากอุปกรณ์ไฟฟ้า 1 เครื่องจะสามารถเชื่อมต่อกับแบตเตอรีได้สงสด 8 ก้อน หากอุปกรณ์ต้องใช้แบตเตอรี่สูงกว่า 8 ก้อน จะต้องเพิ่ม Zigbee Minihub อีก 1 เครื่อง เพื่อขยายสัญญาณเพิ่มเติม<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_18"  class="collapse" data-parent="#faq2">
							<p class="mb-0">A6: </p>
							</div>
						</li>
						<!--18-->
						<!--19-->
						<li >
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_19" data-toggle="collapse" data-target="#subfaq_19" aria-expanded="false" id="brochure">Q7: เราสามารถคืนค่าอุปกรณ์กลับสู่ค่าเริ่มต้นได้อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_19"  class="collapse" data-parent="#faq2">
							<p class="mb-0">A7: กดปุ่มบนอุปกรณ์ Smart Door & Window Sensorค้างไว้ 6 วินาที จนปรากฏแสงไฟสีเขียวกระพริบถี่ๆ บนอุปกรณ์
							จากนั้นแสงไฟจะดับลงใน 3 วินาที แสดงว่า อุปกรณ์ Door/Window sensor กลับเข้าสู่ค่าเริ่มต้นแล้ว</p>
							</div>
						</li>
						<!--19-->
						<!--20-->
						<li>
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_20" data-toggle="collapse" data-target="#subfaq_20" aria-expanded="false" id="brochure">
							Q8: แสงไฟบนอุปกรณ์ Smart Door & Window Sensorเป็นอย่างไร ในสถานะอุปกรณ์กำลังใช้งาน<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_20"  class="collapse" data-parent="#faq2">
							<p class="mb-0">A8: หากอุปกรณ์ทำงานแสงไฟสีเขียวจะกระพริบ 1 ครั้ง</p>
							</div>
						</li>
						<!--20-->
						<!--21-->
						<li class="li_faq_bottom">
							<div class="pointer product_details text_bold head_faq collapsed" id="mfaq_21" data-toggle="collapse" data-target="#subfaq_21" aria-expanded="false" id="brochure">Q9: เราจะตรวจสอบสถานะการทำงานของอุปกรณ์ Smart Door & Window Sensorได้อย่างไร?<i class="chevron fa fa-fw" id="brochure"></i></div>
							<div class="mt-lg-3 mb-lg-5  mb-sm-4  collapse" id="subfaq_21"  class="collapse" data-parent="#faq2">
							<p class="mb-0">A9: แอพพลิเคชั่น ‘LAMPTAN HOME’ จะส่งการเตือนมายังสมาร์ทโฟนของทาน หากมีการเปิดประตู/หน้าต่าง ท่าน
							สามารถเขาไปที่หน้า ‘security’ บนแอพพลิเคชั่นและกดเลือกอุปกรณ์ Smart Door & Window Sensor เพื่อตรวจสอบ
							บันทึกข้อมูลการเปิดประตู/หนาต่างได้ เป็นวันและเวลา</p>
							</div>
						</li>
						<!--21-->
						
					</ul>
 				</div>
	        	

	        </div>
	        <!--Smart Door & Window Sensor-->

	       
	       
		</div>
			
		

		

		
		<!--body-->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

		<script type="text/javascript">
			var oldId;

			$('.head_faq').click(function() {
				$('#'+oldId).removeClass("text_orange");
				$('#'+this.id).addClass("text_orange");
				oldId = this.id;
			});
		</script>
			<link rel="stylesheet" href="assets/css/index.css">
			<script type="text/javascript">
				
			</script>

   <%= render partial: 'footer/footer' %>
<%= javascript_include_tag "index", "data-turbolinks-track" => true  %>
</body>
</html>