<%
  paginated_products = @searcher.retrieve_products if params.key?(:keywords)
  paginated_products ||= products
%>

<% content_for :head do %>
  <% if paginated_products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags paginated_products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>

<% if products.any? %>
  <ul id="products" class="inline product-listing" style="display: inline-flex;"data-hook>
    <% products.each do |product| %>
      <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
      <div id="product_<%= product.id %>" class="<%= cycle("alpha", "secondary", "", "omega secondary", name: "classes") %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
        <% cache(@taxon.present? ? [I18n.locale, current_pricing_options, @taxon, product] : [I18n.locale, current_pricing_options, product]) do %>
          





        <div class="col-12 col-sm-12  col-md-12 col-lg-12 col-xl-12 no_padding_sm_l" >
                  <div data-aos="fade-up" data-aos-duration="600" class="aos-init aos-animate">
                    <div class="card_product ml-lg-1 product_card" >
                      <div class="item_img">
                        <%= link_to image_tag(product.display_image.attachment(:product), itemprop: "image"), url, itemprop: 'url' %>
                      </div>
                      <div class="card-body products_card_body" >
                        <div data-aos="zoom-in" data-aos-duration="300" data-aos-delay="100" class="aos-init">
                         <p class="card-title about_txt products_card_title_txt">
                          <%= link_to truncate(product.name, length: 50), url, class: 'info', itemprop: "name", title: product.name %>
                        </p>
                        <p class="card-text products_text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                        <ul class="nav">
                          <li class="nav-item products_card_footer1 products_text_price no_padding  d-flex align-items-center">
                            <%= display_price(product) %>
                          </li>
                          <!--price-->
                          <!--button-->
                           
                          <li class="nav-item products_card_footer2 no_padding d-flex align-items-center"><button type="button" class="btn btn-white products_button  btn-lg btn-block"><%= link_to url do %>ADD TO CART <% end %></button></li>
                          
                          <!--button-->
                        </ul>
                    
                      </div>

                    </div>
                  </div>
                </div>
              </div>






        <% end %>
      </div>
    <% end %>
    <% reset_cycle("classes") %>
  </ul>
<% end %>

<% if paginated_products.respond_to?(:total_pages) %>
  <%= paginate paginated_products %>
<% end %>
