




<% address_id = address_type.chars.first %>
<div class="inner" data-hook=<%="#{address_type}_inner" %>>
  <div class="ml-5 mr-5">
    <div>  
      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"> <div class="check_text_title">Reciept / Tax invoice adress - Tick and Fill in to request for official Tax invoice</div>
    </div>
    <div class="line_full"></div>
    <ul class="nav  ml-5 mt-5 mb-4">
      <li class="mr-5 ml-3"><div class="check_text_body">Reciept / Tax invoice Adress</div></li>
      <li class="ml-5 ml-3"><div class="check_text_body">Thailand  |  <div class="text_orange d-inline">International</div></div></li>
    </ul>
    <div class="row">
      <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="ml-5">
          <div class="form-group w-75">

            <p class="field" id=<%="#{address_id}firstname" %>>
              <%= form.label :firstname, Spree.t(:first_name), :class =>"my-1 ml-3 check_text_body" %><span class="required">*</span><br />
              <%= form.text_field :firstname, class: 'form-control mx-sm-3', autocomplete: address_type + ' given-name' %>
            </p>
          </div>

          <div class="form-group w-75">
            <p class="field" id=<%="#{address_id}lastname" %>>
              <%= form.label :lastname, Spree.t(:last_name) , :class =>"my-1 ml-3 check_text_body"%><span class="">*</span><br />
              <%= form.text_field :lastname, class: 'form-control mx-sm-3', autocomplete: address_type + ' family-name' %>
            </p>
          </div>

          <div class="form-group w-75">
            <p class="field" id=<%="#{address_id}address1" %>>
              <%= form.label :address1, Spree.t(:street_address), :class =>"my-1 ml-3 check_text_body" %><span class="">*</span><br />
              <%= form.text_field :address1, class: ' form-control mx-sm-3', autocomplete: address_type + ' address-line1' %>
            </p>


          </div>

          <div class="form-group w-75">


            <p class="field" id=<%="#{address_id}zipcode" %>>
              <%= form.label :zipcode, Spree.t(:zip), :class =>"my-1 ml-3 check_text_body" %><% if address.require_zipcode? %><span class="required">*</span><% end %><br />
              <%= form.text_field :zipcode, class: "#{'' if address.require_zipcode?} form-control mx-sm-3", autocomplete: address_type + ' postal-code' %>
            </p>

          </div>

          <div class="form-group w-75">
             <p class="field" id=<%="#{address_id}city" %> >
    <%= form.label :city, Spree.t(:city) %><span class="required">*</span><br />
    <%= form.text_field :city, class: '', autocomplete: address_type + ' address-level2' %>
  </p>

         </div>
       </div>
     </div>
     <div class="col col-sm-6 col-md-6 col-lg-6 col-xl-6">
      <div class="ml-5">
        <div class="form-group w-75 check_text_body" >
         <p class="field" id=<%="#{address_id}country" %>>
          <%= form.label :country_id, Spree.t(:country) %><span class="">*</span><br />
          <span id=<%="#{address_id}country-selection" %>>
            <%= form.collection_select :country_id, available_countries, :id, :name, {},
            class: '',
              autocomplete: address_type + ' country-name'
              %>
            </span>
          </p>
        </div>
        <div class="form-group w-75 check_text_body">



          <% if Spree::Config[:address_requires_state] %>
          <p class="field" id=<%="#{address_id}state" %>>
            <% have_states = !address.country.states.empty? %>
            <label class="my-1 " for="inlineFormCustomSelectPref ">Provience</label>

            <span class="js-address-fields" style="display: none;">
              <%=
              form.collection_select(
                :state_id, address.country.states, :id, :name, 
                {include_blank: true},
                {
                  class: have_states ? 'required' : ' form-control',
                    style: have_states ? '' : 'display: none;',
                    disabled: !have_states,
                    autocomplete: address_type + ' address-level1'
                    })
                    %>
                    <%=
                    form.text_field(
                      :state_name,
                      class: !have_states ? 'required' : ' form-control',
                        style: have_states ? 'display: none;' : '',
                        disabled: have_states,
                        autocomplete: address_type + ' address-level1'
                        )
                        %>
                      </span>
                      <noscript>
                        <%= form.text_field :state_name, class: ' form-control', autocomplete: address_type + ' address-level1' %>
                      </noscript>
                    </p>
                    <% end %>

                  </div>

                  <div class="form-group w-75">
                   <label class="my-1 check_text_body" for="inlineFormCustomSelectPref ">Mobile Number</label>
                   <ul class="payment_ul_credit">
                    <li><input type="text" class="form-control   d-inline-block inputclass" placeholder="+66"></li>
                    <li>  <%= form.phone_field :phone, class: "#{'' if address.require_phone?}", autocomplete: address_type + ' home tel' %></li>
                  </ul>
                </div>

                <div class="form-group w-75">
                 <label class="my-1 check_text_body" for="inlineFormCustomSelectPref ">Tax Code </label>

                 <input type="text" id="tax_code" name="tax_code" class="form-control " placeholder="(Optional)">
               </div>

               <div class="form-group w-75">
                 <label class="my-1 check_text_body" for="inlineFormCustomSelectPref ">Head Office / Branch No. <div class="text_orange text_orange_small">A5 digits number with 00000 for Head Office and Branch
                  no as 00001 and upward</div></label>
                  <input type="text" id="district" class="form-control" placeholder="District">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
